<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelEuclideanRangeReference</key>
	<string>rotateOriginalDepthBase</string>
	<key>continueConcreteCursorCollection</key>
	<string>getCrudeMapDecorator</string>
	<key>endConcretePetContainer</key>
	<string>resumeBackwardRemediationImplement</string>
	<key>getPrismaticHashTarget</key>
	<string>getStandaloneCycleTarget</string>
	<key>writeDisplayableChartCache</key>
	<string>getStaticSizeManager</string>
</dict>
</plist>
