<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>prepareDiversifiedSizeType</key>
	<string>convertDiscardedTailBase</string>
	<key>restartUniqueCoordBase</key>
	<string>setArithmeticTextCollection</string>
	<key>setFusedGramCollection</key>
	<string>prepareSecondPermutationArray</string>
	<key>skipSustainableStyleDecorator</key>
	<string>destroyRobustTechniqueFactory</string>
	<key>stopResilientSkewYPool</key>
	<string>shearRequiredTitleInstance</string>
</dict>
</plist>
