<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destroyTensorBufferOwner</key>
	<string>floatDeclarativeContractionAdapter</string>
	<key>enhanceDifficultFlagsOwner</key>
	<string>limitMainKernelGroup</string>
	<key>getIntuitiveCenterCollection</key>
	<string>getSymmetricSoundContainer</string>
	<key>getLiteDescriptionType</key>
	<string>getDiversifiedOpacityProtocol</string>
	<key>getSeamlessBufferProtocol</key>
	<string>setEphemeralVertexAdapter</string>
	<key>keepRelationalParameterCache</key>
	<string>enumerateUniformDataBase</string>
	<key>preparePrimaryScaleBase</key>
	<string>getCartesianMetadataReference</string>
	<key>quantizationActivatedNameProtocol</key>
	<string>getSemanticCapsuleType</string>
	<key>setRapidStepContainer</key>
	<string>setBackwardParamPool</string>
	<key>skipPermissiveTailAdapter</key>
	<string>dropoutSymmetricBoundCreator</string>
</dict>
</plist>
