<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addPivotalTextProtocol</key>
	<string>getDeclarativeFragmentsProtocol</string>
	<key>differentiateOtherNumberManager</key>
	<string>updateDiscardedButtonExtension</string>
	<key>getCustomCharacterDelegate</key>
	<string>parseOriginalPlateBase</string>
	<key>poolGlobalOpacityArray</key>
	<string>setDiscardedCosineGroup</string>
	<key>renameSophisticatedRightOwner</key>
	<string>setGreatVideoDelegate</string>
	<key>stopCurrentModelTarget</key>
	<string>cancelDirectlyTopDecorator</string>
</dict>
</plist>
