<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resetProtectedBufferObserver</key>
	<string>getCartesianCoordGroup</string>
	<key>restartMissedSkinExtension</key>
	<string>pauseRapidTempleReference</string>
	<key>setBeginnerCapsuleDecorator</key>
	<string>setRespectiveViewInstance</string>
	<key>setNewestNavigationObserver</key>
	<string>getHierarchicalRotationGroup</string>
	<key>trainLostValueHandler</key>
	<string>getOldIntegerHelper</string>
</dict>
</plist>
