<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishKeyCubeCollection</key>
	<string>pausePrevPopupCache</string>
	<key>pauseStaticFlagsTarget</key>
	<string>setAgileMobileFilter</string>
	<key>prepareSophisticatedFrameProtocol</key>
	<string>aggregateSubtleConstantCache</string>
	<key>quitCustomResourceOwner</key>
	<string>cancelTensorTempleProtocol</string>
	<key>setDedicatedDocumentFilter</key>
	<string>prepareSortedMetadataManager</string>
</dict>
</plist>
