<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detachProtectedGrayscaleStack</key>
	<string>setKeyVarObserver</string>
	<key>endSemanticConfigurationManager</key>
	<string>continueSubtleIntegrityCollection</string>
	<key>finishPermissiveParamAdapter</key>
	<string>keepMediumLoopDecorator</string>
	<key>getDeclarativeTailHelper</key>
	<string>getSingleIntensityGroup</string>
	<key>initializeSymmetricRoleType</key>
	<string>enumerateBeginnerLayerHandler</string>
	<key>insteadLastSkewXReference</key>
	<string>stopPrimaryZoneList</string>
	<key>prepareAutoClusterFactory</key>
	<string>combineRetainedParameterArray</string>
	<key>setCrucialBufferExtension</key>
	<string>unscheduleUniformGroupType</string>
	<key>setSubtleAnimationGroup</key>
	<string>getLostVariableInstance</string>
	<key>unscheduleSynchronousStyleType</key>
	<string>showSymmetricSchedulerHandler</string>
</dict>
</plist>
