<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelConcreteTextOwner</key>
	<string>dropoutSignificantLabelManager</string>
	<key>freeEnabledValueManager</key>
	<string>getDiscardedNavigationReference</string>
	<key>getArithmeticScenarioFactory</key>
	<string>getCartesianGateManager</string>
	<key>initializeIntuitiveNameGroup</key>
	<string>continueUniformChapterDelegate</string>
	<key>lockLocalOpacityBase</key>
	<string>initializeIterativeValueImplement</string>
	<key>multiplyPrismaticTailReference</key>
	<string>setCustomizedRowReference</string>
	<key>transposeFirstSchemaPool</key>
	<string>getSortedStateManager</string>
</dict>
</plist>
