<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discoverLostTrianglesCreator</key>
	<string>freeEasyVariableExtension</string>
	<key>findPublicNavigationContainer</key>
	<string>restartBasicSpotContainer</string>
	<key>keepEasyStrengthFilter</key>
	<string>trainPrevContrastBase</string>
	<key>respondComprehensiveBufferInstance</key>
	<string>shearBackwardParameterDecorator</string>
</dict>
</plist>
