<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>respondPrevInterfaceContainer</key>
	<string>updateSemanticCharacterFactory</string>
	<key>setBeginnerFlagsImplement</key>
	<string>getBeginnerDistinctionCreator</string>
	<key>stopResilientStampTarget</key>
	<string>initializeCustomizedFeatureBase</string>
</dict>
</plist>
