<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decoupleOldDepthArray</key>
	<string>getImmutableOriginList</string>
	<key>endOldParameterReference</key>
	<string>getUnsortedTimeHandler</string>
	<key>getAccordionNumberPool</key>
	<string>restartMediumEvolutionImplement</string>
	<key>keepUsedCoordExtension</key>
	<string>pauseLiteDetailExtension</string>
	<key>setAsynchronousValueImplement</key>
	<string>limitSmallRectangleHandler</string>
	<key>setHyperbolicBufferContainer</key>
	<string>cancelOtherLoopGroup</string>
	<key>setMediumBufferCreator</key>
	<string>pauseUniqueValueCollection</string>
	<key>stopNormalDialogsManager</key>
	<string>showEasyTempleAdapter</string>
</dict>
</plist>
