<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decoupleCriticalScenarioType</key>
	<string>getUnsortedSliderExtension</string>
	<key>decoupleOldAnimationManager</key>
	<string>setUnactivatedTopFilter</string>
	<key>finishCrudeSignatureArray</key>
	<string>continueLocalTentativeCache</string>
	<key>setEnabledSkewYInstance</key>
	<string>getAdvancedBorderObserver</string>
	<key>trainDisplayableNameGroup</key>
	<string>scheduleDeclarativeVariableBase</string>
</dict>
</plist>
