<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animateUnactivatedSizeBase</key>
	<string>getSubstantialGrainFactory</string>
	<key>getAgileCertificateStack</key>
	<string>stopDisplayableNumberCache</string>
	<key>multiplySemanticConstantCache</key>
	<string>discoverAccordionVariableOwner</string>
	<key>restartPrimaryObserverTarget</key>
	<string>getSemanticDistinctionHandler</string>
	<key>setDisplayableKernelFactory</key>
	<string>setImmutableGridTarget</string>
	<key>setGreatTextContainer</key>
	<string>reconcileSustainableBufferFactory</string>
	<key>stopNormalLayerProtocol</key>
	<string>retrieveSymmetricLoaderOwner</string>
	<key>trainEasyBufferCollection</key>
	<string>stopAssociatedZoneCreator</string>
</dict>
</plist>
