<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelOtherHeadCache</key>
	<string>endSignificantHeroCache</string>
	<key>getNormalGiftTarget</key>
	<string>setUnsortedParticleReference</string>
	<key>holdNewestFormatFactory</key>
	<string>resumeFusedNumberInstance</string>
	<key>restartConsultativeParamGroup</key>
	<string>stopEasyParameterObserver</string>
</dict>
</plist>
