<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueOldVariableArray</key>
	<string>prepareUsedParamProtocol</string>
	<key>freeAgileResilienceAdapter</key>
	<string>trainElasticChartTarget</string>
	<key>getSecondCapacitiesTarget</key>
	<string>continueDisplayableMemberManager</string>
	<key>obtainGlobalEffectContainer</key>
	<string>startStaticTextureManager</string>
	<key>readAutoParamManager</key>
	<string>skipLostParamStack</string>
	<key>resumeGeometricHeapCreator</key>
	<string>keepRelationalNumberArray</string>
	<key>shearOldHashCache</key>
	<string>setOpaqueTopicDecorator</string>
</dict>
</plist>
