<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>freeIgnoredNumberDecorator</key>
	<string>finishAgileTempleTarget</string>
	<key>resumeBeginnerModulusReference</key>
	<string>startSmallAssetCache</string>
	<key>setMissedUtilProtocol</key>
	<string>touchLastAscentFilter</string>
</dict>
</plist>
