<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelAccessibleVarInstance</key>
	<string>finishBackwardAnchorObserver</string>
	<key>cancelIntuitiveVarImplement</key>
	<string>cancelNextToolDecorator</string>
	<key>endLiteValueHandler</key>
	<string>stopResilientUsageCreator</string>
	<key>findRapidVarTarget</key>
	<string>setUsedFlagsBase</string>
	<key>initializeSemanticTailTarget</key>
	<string>clipCrucialRemainderStack</string>
	<key>pauseDirectlyGridArray</key>
	<string>getRespectiveModelReference</string>
	<key>provideUniqueAnimationReference</key>
	<string>transposeLastVariableImplement</string>
	<key>setSpecifyCapacityReference</key>
	<string>restartGranularFragmentHandler</string>
	<key>syncAsynchronousRoleExtension</key>
	<string>getDeclarativeFrameObserver</string>
</dict>
</plist>
