<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>acceleratePivotalSignObserver</key>
	<string>getMediumAssetOwner</string>
	<key>fillLargeGrainBase</key>
	<string>skipAccessibleScaleFilter</string>
	<key>getUniqueCaptionTarget</key>
	<string>skipPrimaryLoopObserver</string>
	<key>prepareSignificantImpressionCache</key>
	<string>pauseCustomizedLogarithmProtocol</string>
	<key>refreshRelationalRangeGroup</key>
	<string>differentiateImmutableTemplePool</string>
	<key>renamePivotalStateStack</key>
	<string>setDisplayableObserverArray</string>
	<key>setSubstantialGridCollection</key>
	<string>setConsultativeVectorFilter</string>
	<key>setUnactivatedVisibleReference</key>
	<string>getPrismaticInstructionFactory</string>
	<key>setUniqueUtilProtocol</key>
	<string>setSynchronousAscentManager</string>
</dict>
</plist>
