<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelPermissiveOptionHelper</key>
	<string>trainSecondHistogramManager</string>
	<key>extendSecondChartTarget</key>
	<string>setDeclarativeCatalystObserver</string>
	<key>insteadAgileBufferList</key>
	<string>stopEasyQuaternionBase</string>
	<key>restoreNewestMissionContainer</key>
	<string>concatenateDedicatedMendDecorator</string>
	<key>setGeometricInfrastructureFactory</key>
	<string>setGranularSpotObserver</string>
	<key>setLiteTraversalFactory</key>
	<string>setPrismaticTemplePool</string>
</dict>
</plist>
