<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getSignificantBufferArray</key>
	<string>startAdvancedMultiplicationTarget</string>
	<key>limitCustomKernelTarget</key>
	<string>getActivatedPaddingList</string>
	<key>prepareLiteGridGroup</key>
	<string>setNextConfigurationTarget</string>
	<key>resetDedicatedParameterDecorator</key>
	<string>finishGreatBottomCollection</string>
	<key>setSynchronousValueCreator</key>
	<string>pauseAccessibleOperationHandler</string>
	<key>skipGeometricCoordType</key>
	<string>continueGeometricNumberObserver</string>
	<key>stopSortedSkinPool</key>
	<string>captureSecondMeshManager</string>
</dict>
</plist>
