<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueNewestParamContainer</key>
	<string>readDirectSkewXReference</string>
	<key>getAsynchronousVariableCache</key>
	<string>setLargeDetailObserver</string>
	<key>getTensorTopicObserver</key>
	<string>setSignificantVarDelegate</string>
	<key>restartRapidColorFactory</key>
	<string>restartDisplayableParameterBase</string>
</dict>
</plist>
