<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueRespectiveSceneHelper</key>
	<string>resumeCriticalDataTarget</string>
	<key>finishMultiStateList</key>
	<string>pauseDirectlyTailDecorator</string>
	<key>respondCurrentInteractionFactory</key>
	<string>findRapidVectorCollection</string>
	<key>setConcurrentEdgeExtension</key>
	<string>resumeRapidIndexType</string>
	<key>setLargeDetailContainer</key>
	<string>appendReusableParamHandler</string>
</dict>
</plist>
