<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelSubstantialBottomGroup</key>
	<string>getDiversifiedSliderContainer</string>
	<key>getCrucialBufferType</key>
	<string>getAccessibleTextureManager</string>
	<key>getTensorVarHelper</key>
	<string>endAccessibleDescriptorExtension</string>
	<key>pauseActivatedColorHandler</key>
	<string>endSpecifyTempleExtension</string>
	<key>startCrudeVisibleOwner</key>
	<string>finishOldBorderBase</string>
	<key>updateProtectedArchitectureObserver</key>
	<string>initializeReusableRightArray</string>
</dict>
</plist>
