<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustMediumInitiativeTarget</key>
	<string>drawDeclarativePaddingProtocol</string>
	<key>embedAutoParameterReference</key>
	<string>startIntuitiveCenterReference</string>
	<key>finishAgileRotationDelegate</key>
	<string>aggregateDisplayableChapterType</string>
	<key>initializeSimilarRotationCache</key>
	<string>getResilientParticlePool</string>
	<key>lockMainGrainGroup</key>
	<string>trainPermanentLatencyDelegate</string>
	<key>pauseCustomBorderProtocol</key>
	<string>getSeamlessDepthArray</string>
	<key>setConcurrentTailPool</key>
	<string>generateImmutableViewPool</string>
	<key>shearSophisticatedSpriteTarget</key>
	<string>setDirectCoordCache</string>
</dict>
</plist>
