<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueCrudeVarBase</key>
	<string>getMediumPopupTarget</string>
	<key>equalSubtleOperationExtension</key>
	<string>embraceStandaloneRowArray</string>
	<key>getDelicateMatrixFilter</key>
	<string>setPublicScaleList</string>
	<key>introspectRequiredImageCreator</key>
	<string>skipResilientIntensityImplement</string>
	<key>prepareDirectInfoHelper</key>
	<string>setSortedGridTarget</string>
	<key>setCurrentBandwidthStack</key>
	<string>getHardEffectDecorator</string>
	<key>setSemanticSizeCreator</key>
	<string>getAdvancedVarHelper</string>
	<key>shearStaticTailManager</key>
	<string>unlockGlobalBufferOwner</string>
</dict>
</plist>
