<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decoupleCustomHashAdapter</key>
	<string>renamePrevSliderCreator</string>
	<key>getProtectedApertureGroup</key>
	<string>escalatePrismaticGraphBase</string>
	<key>getSemanticDetailHandler</key>
	<string>trainArithmeticTentativeType</string>
	<key>locateExplicitEventManager</key>
	<string>trainUniformBaseGroup</string>
	<key>offsetDenseMendType</key>
	<string>setSubsequentEffectInstance</string>
	<key>setDedicatedTailHelper</key>
	<string>multiplyCrucialBrushDelegate</string>
	<key>startUnsortedParameterProtocol</key>
	<string>poolCartesianNumberExtension</string>
	<key>stopPermissiveTempleTarget</key>
	<string>encapsulateSecondVertexFilter</string>
	<key>wrapDirectDocumentTarget</key>
	<string>getPrimarySubpixelCollection</string>
</dict>
</plist>
