<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endDiscardedLabelContainer</key>
	<string>getPivotalFeatureHandler</string>
	<key>getNormalEdgeStack</key>
	<string>pauseOtherNumberObserver</string>
	<key>restartRelationalBottomProtocol</key>
	<string>checkSimilarChapterDelegate</string>
	<key>setSubstantialBatchInstance</key>
	<string>skipUnsortedDispatcherHelper</string>
	<key>setUnsortedSoundTarget</key>
	<string>getBasicLatencyDecorator</string>
</dict>
</plist>
