<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conformIterativeAudioArray</key>
	<string>startDenseKernelCreator</string>
	<key>embedCommonBoundInstance</key>
	<string>prepareEphemeralColorCache</string>
	<key>makeSpecifyTemplePool</key>
	<string>keepEuclideanOptionManager</string>
	<key>multiplyOldTitleDelegate</key>
	<string>getAccessibleIntegerDecorator</string>
	<key>restartRequiredPopupContainer</key>
	<string>updateDisparateEfficiencyFactory</string>
	<key>skipOriginalResolverFactory</key>
	<string>setDifficultTrianglesContainer</string>
	<key>skipPriorSessionCreator</key>
	<string>restartMultiDescriptionHelper</string>
</dict>
</plist>
