<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>augmentPrimarySegmentFilter</key>
	<string>continueGlobalRotationProtocol</string>
	<key>extendProtectedScaleFactory</key>
	<string>setDelicateSizeCreator</string>
	<key>resumeAdvancedObjectGroup</key>
	<string>readFusedOriginReference</string>
	<key>resumeHierarchicalTempleHandler</key>
	<string>setOtherValueTarget</string>
	<key>storeLargeBufferExtension</key>
	<string>setMediumBufferDecorator</string>
</dict>
</plist>
