<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endActivatedIntegerOwner</key>
	<string>getBasicSliderPool</string>
	<key>getSemanticStyleType</key>
	<string>holdAgilePositionExtension</string>
	<key>restartHierarchicalTextContainer</key>
	<string>getSecondLayerProtocol</string>
	<key>setAsynchronousObserverTarget</key>
	<string>executeArithmeticZoneFilter</string>
	<key>setDisplayableVarGroup</key>
	<string>comparePivotalGrainProtocol</string>
	<key>skipAsynchronousTagCreator</key>
	<string>cancelRequiredTweakFilter</string>
	<key>skipGlobalVarTarget</key>
	<string>stopHyperbolicIntegrityDecorator</string>
	<key>skipPriorNumberOwner</key>
	<string>getOtherModuleInstance</string>
	<key>stopMediocreElementManager</key>
	<string>transposeSeamlessSpotReference</string>
</dict>
</plist>
