<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelCartesianTangentContainer</key>
	<string>storeLostVisibleType</string>
	<key>embraceCurrentPopupDelegate</key>
	<string>requestSynchronousQueueHelper</string>
	<key>encapsulateRequiredChapterInstance</key>
	<string>eraseCommonCubeImplement</string>
	<key>endOtherBufferDelegate</key>
	<string>fillCurrentTextCreator</string>
	<key>extendDedicatedQuaternionHelper</key>
	<string>startAssociatedDepthGroup</string>
	<key>getDelicateSampleCache</key>
	<string>setOriginalScaleOwner</string>
	<key>restartSubtleSceneFilter</key>
	<string>prepareRapidTangentHandler</string>
</dict>
</plist>
