<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelDirectlyStrengthCollection</key>
	<string>setSemanticItemObserver</string>
	<key>restartSimilarGrainFactory</key>
	<string>initializeCrudeSliderCreator</string>
	<key>updateOldHashCreator</key>
	<string>equalRobustRemediationProtocol</string>
</dict>
</plist>
