<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accelerateUniqueLayerHandler</key>
	<string>stopGeometricChartPool</string>
	<key>initializeGranularQueueList</key>
	<string>getStaticFrameBase</string>
	<key>prepareImmutableValueExtension</key>
	<string>setEnabledOriginGroup</string>
	<key>setSecondValueCreator</key>
	<string>trainDiversifiedThresholdDelegate</string>
	<key>writeOriginalScaleReference</key>
	<string>enumerateIntuitiveArchitectureType</string>
</dict>
</plist>
