<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equalRetainedSliderCreator</key>
	<string>getRobustIntegerHandler</string>
	<key>getFirstGramPool</key>
	<string>embraceDeclarativeBufferContainer</string>
	<key>getStandaloneTempleReference</key>
	<string>setUniquePositionDecorator</string>
	<key>keepDedicatedGraphicProtocol</key>
	<string>setGranularBoundType</string>
	<key>setDedicatedOriginGroup</key>
	<string>stopNewestTagDecorator</string>
	<key>setIgnoredTailOwner</key>
	<string>quitElasticBufferReference</string>
</dict>
</plist>
