<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getCustomizedCoordType</key>
	<string>getCustomGrainContainer</string>
	<key>keepDeclarativeOptionPool</key>
	<string>getOtherResultHandler</string>
	<key>provideFusedThresholdManager</key>
	<string>setSymmetricCapacityCollection</string>
	<key>reflectAutoEffectPool</key>
	<string>unscheduleIterativeRectPool</string>
	<key>setDedicatedNotationObserver</key>
	<string>initializeLargeInformationPool</string>
	<key>stopFusedValueReference</key>
	<string>startPrismaticImpressionCreator</string>
</dict>
</plist>
