<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captureIntermediateSchedulerFactory</key>
	<string>setCrucialTagCollection</string>
	<key>getConcreteVolumeOwner</key>
	<string>keepConsultativeAspectCollection</string>
	<key>getCriticalTaskObserver</key>
	<string>endMissedLeftGroup</string>
	<key>pauseIgnoredCenterOwner</key>
	<string>moveIgnoredExponentArray</string>
	<key>restartSharedIndexProtocol</key>
	<string>skipAccordionActivityList</string>
	<key>setLocalNumberObserver</key>
	<string>restoreUnsortedPointCache</string>
	<key>setPrismaticBottomPool</key>
	<string>reconcileDisparatePositionCreator</string>
	<key>unlockNormalMetricsDecorator</key>
	<string>discoverExplicitRecursionCollection</string>
</dict>
</plist>
