<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>combineSubtleResultDelegate</key>
	<string>prepareDelicateRowFilter</string>
	<key>conformSimilarEdgeType</key>
	<string>checkUsedRectBase</string>
	<key>setUnactivatedDisclaimerBase</key>
	<string>floatRespectiveTempleObserver</string>
</dict>
</plist>
