<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getSignificantBinaryOwner</key>
	<string>setConcreteOpacityList</string>
	<key>releaseAccessibleAccessoryPool</key>
	<string>createPivotalButtonGroup</string>
	<key>revisitLocalParamHelper</key>
	<string>limitPermissiveChallengeManager</string>
	<key>setLiteBufferHelper</key>
	<string>cancelElasticSliderDecorator</string>
</dict>
</plist>
