<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addOpaqueBufferContainer</key>
	<string>insteadHierarchicalVarOwner</string>
	<key>checkFusedTempleDecorator</key>
	<string>getLostBehaviorReference</string>
	<key>continueGeometricGrayscaleInstance</key>
	<string>setIterativeVariableType</string>
	<key>getIntuitiveBorderExtension</key>
	<string>keepLostAnimationReference</string>
	<key>getUsedArchitectureArray</key>
	<string>lockFirstOpacityReference</string>
	<key>skipIntermediateVarDelegate</key>
	<string>resizeSmartOpacityCreator</string>
	<key>startConcurrentVariableInstance</key>
	<string>getHardNodeFilter</string>
	<key>stopIndependentSymbolFilter</key>
	<string>startEphemeralInfrastructureCache</string>
	<key>stopSeamlessReplicaTarget</key>
	<string>touchRobustSkinAdapter</string>
</dict>
</plist>
