<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelCriticalParameterType</key>
	<string>upgradeNormalGroupStack</string>
	<key>continueExplicitTopType</key>
	<string>keepSynchronousRowManager</string>
	<key>continueMainLoaderManager</key>
	<string>clearNumericalOpacityObserver</string>
	<key>getIndependentNumberType</key>
	<string>keepEnabledBufferHandler</string>
	<key>getLocalSchemaArray</key>
	<string>embedSortedTagContainer</string>
	<key>resumeCrudeRotationManager</key>
	<string>getIndependentBrushDelegate</string>
	<key>setEphemeralTentativeImplement</key>
	<string>unscheduleOpaqueExponentCreator</string>
	<key>setFusedLeftBase</key>
	<string>setAgileSpriteProtocol</string>
	<key>trainTypicalTempleReference</key>
	<string>continueRespectiveLogCache</string>
</dict>
</plist>
