<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueHierarchicalParameterPool</key>
	<string>setStandaloneFrameAdapter</string>
	<key>embedNumericalConvolutionPool</key>
	<string>preparePermissiveTitleStack</string>
	<key>resetDifficultTailCache</key>
	<string>fillSymmetricDepthCreator</string>
	<key>revisitPriorSizeHelper</key>
	<string>setSophisticatedCaptionContainer</string>
	<key>setMultiSpineFilter</key>
	<string>resumeIgnoredParamStack</string>
</dict>
</plist>
