<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>findAsynchronousBufferOwner</key>
	<string>getKeyTempleDecorator</string>
	<key>getDisparateDescriptionArray</key>
	<string>appendCommonSkewXStack</string>
	<key>getGlobalParamStack</key>
	<string>storeOriginalChapterGroup</string>
	<key>getResilientUtilArray</key>
	<string>finishAgileEquivalentArray</string>
	<key>resumeDedicatedValueFactory</key>
	<string>getAutoMetadataDelegate</string>
	<key>setEasyFlagsInstance</key>
	<string>setDirectHeapDelegate</string>
	<key>setReusableSizeReference</key>
	<string>getLiteModelCreator</string>
</dict>
</plist>
