<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decoupleUnactivatedAssetHelper</key>
	<string>cancelResilientInterfaceType</string>
	<key>drawCurrentImageList</key>
	<string>dropoutMultiIntegrationContainer</string>
	<key>finishDeclarativeBufferBase</key>
	<string>trainSmallTempleCache</string>
	<key>getPublicVarContainer</key>
	<string>writeConsultativeNameHelper</string>
	<key>limitSubtleParamTarget</key>
	<string>keepDirectlyValueReference</string>
	<key>resumeElasticSceneType</key>
	<string>markDedicatedActionContainer</string>
	<key>setSubtleGemCache</key>
	<string>setNumericalHeapCache</string>
	<key>startEphemeralValueFactory</key>
	<string>refreshSimilarCapacityAdapter</string>
	<key>stopDelicateGridInstance</key>
	<string>retainAccordionHistogramList</string>
	<key>stopPivotalBufferContainer</key>
	<string>getStandaloneReductionHelper</string>
</dict>
</plist>
