<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>generatePrismaticBehaviorHandler</key>
	<string>searchRelationalFlagsBase</string>
	<key>getPriorButtonCreator</key>
	<string>getUsedOccasionHandler</string>
	<key>getResilientIntensityInstance</key>
	<string>rotateSubstantialMetadataOwner</string>
	<key>stopEuclideanLoopDecorator</key>
	<string>keepBeginnerNumberStack</string>
	<key>stopSubsequentVariableGroup</key>
	<string>offsetDelicateInformationAdapter</string>
</dict>
</plist>
