<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelPivotalTaskHandler</key>
	<string>getReusableEventInstance</string>
	<key>continueBackwardVariableArray</key>
	<string>embraceAssociatedSpriteOwner</string>
	<key>endSingleGroupTarget</key>
	<string>destroyFusedParameterReference</string>
	<key>getImmutableVarGroup</key>
	<string>clonePublicOccasionOwner</string>
	<key>initializeCustomParamStack</key>
	<string>poolCommonParamExtension</string>
	<key>prepareSeamlessPopupFactory</key>
	<string>setGranularCenterDecorator</string>
	<key>setRapidNumberFactory</key>
	<string>stopSignificantNumberHelper</string>
	<key>skipPrimaryChapterFactory</key>
	<string>clearGranularVertexType</string>
	<key>startDisplayableActivityGroup</key>
	<string>getCriticalTailContainer</string>
</dict>
</plist>
