<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelCustomValueFactory</key>
	<string>setDeclarativeValueCollection</string>
	<key>getPermanentGrayscaleGroup</key>
	<string>pushUniformVariableBase</string>
	<key>getRapidParamManager</key>
	<string>getSynchronousNumberCollection</string>
	<key>quitUnsortedCoordTarget</key>
	<string>cloneMutableEventBase</string>
	<key>trainBackwardValueAdapter</key>
	<string>setDifficultCapacityList</string>
</dict>
</plist>
