<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>offsetIgnoredTraversalObserver</key>
	<string>setKeyVarProtocol</string>
	<key>offsetPrevTitleContainer</key>
	<string>syncMultiFeatureHelper</string>
	<key>unlockDisparateParameterExtension</key>
	<string>enumerateDisplayableColorManager</string>
</dict>
</plist>
