<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkKeyFeatureImplement</key>
	<string>augmentEuclideanBufferFactory</string>
	<key>continueEasyTextureList</key>
	<string>limitAdvancedLossHelper</string>
	<key>displayUniformProvisionAdapter</key>
	<string>pauseUnsortedIndexArray</string>
	<key>generateAutoIndexCache</key>
	<string>touchActivatedButtonBase</string>
	<key>getAccessibleCurveHandler</key>
	<string>prepareSeamlessOriginStack</string>
	<key>getCartesianBorderManager</key>
	<string>navigateEnabledRightType</string>
	<key>restartSignificantGrainFactory</key>
	<string>restartPrimaryBaseCache</string>
	<key>setLocalNumberObserver</key>
	<string>syncHardResolverCollection</string>
</dict>
</plist>
