<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelDedicatedPriorityAdapter</key>
	<string>embedPivotalProgressBarObserver</string>
	<key>compareHierarchicalNumberCreator</key>
	<string>resumeSemanticUtilExtension</string>
	<key>getLargeCaptionDelegate</key>
	<string>getSemanticBottomDecorator</string>
	<key>getSmartProjectCache</key>
	<string>encapsulateNewestColorReference</string>
	<key>prepareNewestRotationCache</key>
	<string>setEuclideanResolverList</string>
	<key>rectifyRapidChapterList</key>
	<string>setMediumVariableArray</string>
	<key>renameLiteHeadProtocol</key>
	<string>computeRespectiveParameterFilter</string>
	<key>resumeUnactivatedTailList</key>
	<string>freeCustomDeliveryHandler</string>
	<key>startRequiredTextHelper</key>
	<string>resumeOtherScalabilityReference</string>
	<key>updateRobustVarReference</key>
	<string>finishPivotalLoopProtocol</string>
</dict>
</plist>
