<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conformSophisticatedDepthExtension</key>
	<string>trainAdvancedInitiatorsInstance</string>
	<key>getEnabledTempleBase</key>
	<string>getEasyLeftArray</string>
	<key>getSymmetricBufferObserver</key>
	<string>getTypicalPointStack</string>
	<key>optimizeProtectedConsumptionTarget</key>
	<string>decoupleProtectedParamTarget</string>
	<key>pauseEphemeralTextStack</key>
	<string>skipOldVariableBase</string>
	<key>resumeEuclideanAccessoryStack</key>
	<string>resumeDirectCursorBase</string>
	<key>setOriginalPlaybackInstance</key>
	<string>stopSophisticatedCenterExtension</string>
</dict>
</plist>
