<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clearComprehensiveActivityAdapter</key>
	<string>setLocalInstructionTarget</string>
	<key>getBeginnerLeftHandler</key>
	<string>removeSmallGrainDecorator</string>
	<key>initializeActivatedTempleFilter</key>
	<string>setAccordionDescriptorOwner</string>
	<key>setDiscardedInitiatorsImplement</key>
	<string>setSortedConvolutionDelegate</string>
	<key>transposeSignificantValueInstance</key>
	<string>skipElasticEffectContainer</string>
</dict>
</plist>
