<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getEuclideanParamCreator</key>
	<string>embraceBackwardBufferTarget</string>
	<key>resumeComprehensiveLeftGroup</key>
	<string>captureConcurrentTentativeArray</string>
	<key>setCommonRendererCollection</key>
	<string>trainAssociatedGrainAdapter</string>
	<key>setIntuitiveFrameExtension</key>
	<string>embraceRapidTagCollection</string>
	<key>unlockSubsequentStyleFactory</key>
	<string>checkGeometricMatrixObserver</string>
</dict>
</plist>
