<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>introspectOldHashCollection</key>
	<string>endUnactivatedPositionObserver</string>
	<key>moveSingleTopicGroup</key>
	<string>addUniformModulusList</string>
	<key>setAsynchronousParamOwner</key>
	<string>restartHardEffectOwner</string>
	<key>setEasyMetadataDecorator</key>
	<string>setGreatScenarioInstance</string>
	<key>setUnsortedButtonPool</key>
	<string>wrapPrismaticColorOwner</string>
</dict>
</plist>
