<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueAgileExponentType</key>
	<string>getDirectVarCollection</string>
	<key>getCrucialMetadataOwner</key>
	<string>unscheduleCartesianBottomExtension</string>
	<key>getSignificantVariableHelper</key>
	<string>getDirectlyTrianglesGroup</string>
	<key>getSubstantialParameterAdapter</key>
	<string>skipTensorNumberContainer</string>
	<key>initializeSynchronousMatrixList</key>
	<string>restoreGeometricTagInstance</string>
	<key>preparePublicHashGroup</key>
	<string>checkDirectFeatureExtension</string>
	<key>skipSubtleSliderHandler</key>
	<string>locateConsultativeSpecifierProtocol</string>
</dict>
</plist>
