<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>calculateOriginalHeadList</key>
	<string>cancelResilientTaskType</string>
	<key>clipUnactivatedTailExtension</key>
	<string>pushUsedVertexObserver</string>
	<key>navigateMediocreCurveHelper</key>
	<string>stopDiscardedGrainInstance</string>
	<key>startBeginnerBufferArray</key>
	<string>pauseOtherActivityDelegate</string>
	<key>trainLocalTextFactory</key>
	<string>replaceAccordionBitrateDecorator</string>
</dict>
</plist>
