<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>computeUniqueCardObserver</key>
	<string>storeEnabledHistogramFilter</string>
	<key>generatePermissiveMapExtension</key>
	<string>trainNextCompositionContainer</string>
	<key>keepNumericalTaxonomyList</key>
	<string>dismissBasicOperationImplement</string>
	<key>quitSymmetricPriorityInstance</key>
	<string>lockPermissiveTempleFactory</string>
	<key>setRetainedParamExtension</key>
	<string>clearCrucialParamFactory</string>
	<key>stopReusableHistogramCollection</key>
	<string>computeCriticalCertificateProtocol</string>
</dict>
</plist>
