<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compareHierarchicalFrameTarget</key>
	<string>cancelStandaloneIndexHelper</string>
	<key>drawDisplayableValueObserver</key>
	<string>setEphemeralSpriteContainer</string>
	<key>getPivotalConfidentialityFactory</key>
	<string>skipConcurrentParticleTarget</string>
	<key>initializeCriticalDispatcherPool</key>
	<string>generateSortedUtilManager</string>
	<key>revisitOtherScopeGroup</key>
	<string>calculatePermissiveVarGroup</string>
	<key>setComprehensiveTempleExtension</key>
	<string>setSortedThreadCache</string>
	<key>setCurrentTempleBase</key>
	<string>getBeginnerCosineFactory</string>
	<key>setOriginalPriorityObserver</key>
	<string>setAccordionLatencyHelper</string>
	<key>trainOtherVarInstance</key>
	<string>navigateCommonPreviewManager</string>
</dict>
</plist>
