<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getAdvancedNodeHandler</key>
	<string>getPermissiveGridType</string>
	<key>getSubstantialButtonType</key>
	<string>finishUniformConfigurationStack</string>
	<key>keepStandaloneDetailGroup</key>
	<string>getSmartAnalogyReference</string>
	<key>prepareOldNameDelegate</key>
	<string>resumeAccessibleSpriteCache</string>
	<key>quitOriginalUtilProtocol</key>
	<string>initializeSecondBoundTarget</string>
	<key>skipElasticSubpixelReference</key>
	<string>requestPrimaryValueBase</string>
</dict>
</plist>
