<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>combineUnactivatedHeapCache</key>
	<string>getAdvancedBufferCreator</string>
	<key>getDisplayableChartDelegate</key>
	<string>visitCustomSchedulerInstance</string>
	<key>getSymmetricParameterBase</key>
	<string>retrievePrismaticParamTarget</string>
	<key>initializeActivatedAllocatorHandler</key>
	<string>setReusableZoneFilter</string>
	<key>quantizationConcreteVideoList</key>
	<string>pauseRapidLeftCreator</string>
	<key>restartIndependentGemCreator</key>
	<string>freeCurrentLoopList</string>
	<key>setTypicalMovementGroup</key>
	<string>initializeEasyChannelsArray</string>
	<key>startAssociatedSkewYFilter</key>
	<string>restoreMainStyleCollection</string>
</dict>
</plist>
