<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aggregateAgileActivityGroup</key>
	<string>getReusableProjectionType</string>
	<key>cancelResilientTextHelper</key>
	<string>setMainResilienceOwner</string>
	<key>floatDirectValueFactory</key>
	<string>getUniformBufferTarget</string>
	<key>freeRetainedAnimationInstance</key>
	<string>getSeamlessVariableContainer</string>
	<key>getPrevStampCreator</key>
	<string>getSignificantSliderAdapter</string>
	<key>initializeCrudeRouteHandler</key>
	<string>locateAsynchronousLeftProtocol</string>
	<key>limitIntuitiveOriginReference</key>
	<string>endConcurrentValueFilter</string>
	<key>prepareGlobalNameHelper</key>
	<string>setSmartAllocatorOwner</string>
	<key>reflectPermanentGridHandler</key>
	<string>continueAdvancedNumberObserver</string>
	<key>setHierarchicalGroupContainer</key>
	<string>pauseKeyReductionDecorator</string>
</dict>
</plist>
