<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getIgnoredLayerBase</key>
	<string>prepareDenseEventBase</string>
	<key>limitLostSignReference</key>
	<string>stopIterativeStyleFilter</string>
	<key>prepareSeamlessActionList</key>
	<string>provideSharedParameterOwner</string>
	<key>resumeOldPositionAdapter</key>
	<string>finishFirstTextObserver</string>
	<key>setAgilePrecisionFilter</key>
	<string>retrieveUniformNameFactory</string>
	<key>setDirectOriginReference</key>
	<string>setConcreteCardManager</string>
</dict>
</plist>
