<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>extendLocalConfigurationFactory</key>
	<string>divideGlobalResolverImplement</string>
	<key>reducePermissiveGraphFactory</key>
	<string>getIgnoredVarExtension</string>
	<key>requestStaticVariableStack</key>
	<string>getOpaqueChartAdapter</string>
</dict>
</plist>
