<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getExplicitFrameContainer</key>
	<string>reconcileSignificantMatrixContainer</string>
	<key>pausePrismaticPermutationInstance</key>
	<string>setCustomizedPreviewAdapter</string>
	<key>scheduleNextRecursionHelper</key>
	<string>continueRapidParticleList</string>
</dict>
</plist>
