<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>freeSpecifyLossArray</key>
	<string>skipPrismaticBottomPool</string>
	<key>keepRetainedSchemaInstance</key>
	<string>setNumericalProvisionTarget</string>
	<key>retainFusedVisibleImplement</key>
	<string>getUsedCoordDecorator</string>
</dict>
</plist>
