<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocateAgileAssetArray</key>
	<string>setNumericalDocumentCollection</string>
	<key>finishRespectiveScreenExtension</key>
	<string>getKeySkewYHandler</string>
	<key>getSmallGateInstance</key>
	<string>keepProtectedDeliveryManager</string>
	<key>setSymmetricLossObserver</key>
	<string>getDenseIndexDecorator</string>
</dict>
</plist>
