<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>combineBackwardUtilImplement</key>
	<string>searchPriorDepthArray</string>
	<key>displayRapidParamManager</key>
	<string>restartSynchronousKernelDelegate</string>
	<key>embedCustomTempleImplement</key>
	<string>continueStandaloneCenterFactory</string>
	<key>getIterativeParameterExtension</key>
	<string>streamlineRequiredSegmentFilter</string>
	<key>restartAsynchronousBufferList</key>
	<string>getSpecifyAllocatorHelper</string>
	<key>resumeConcurrentSkewXGroup</key>
	<string>pauseMediocreParameterExtension</string>
	<key>shearUsedModuleTarget</key>
	<string>getSymmetricTailReference</string>
	<key>storeCurrentPopupFactory</key>
	<string>prepareOldFragmentsInstance</string>
</dict>
</plist>
