<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustUnsortedAllocatorList</key>
	<string>getExplicitColorCache</string>
	<key>continueSemanticDescriptionArray</key>
	<string>resumeDisparateProvisionPool</string>
	<key>continueStaticVarProtocol</key>
	<string>getGranularParameterFilter</string>
	<key>transposeNumericalChallengeManager</key>
	<string>retrieveMutableHeapOwner</string>
</dict>
</plist>
