<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endLocalTrajectoryList</key>
	<string>writeIterativeConsumptionObserver</string>
	<key>getDisplayableValueDecorator</key>
	<string>renameSmartValueGroup</string>
	<key>optimizeBackwardResultStack</key>
	<string>finishTypicalBoundGroup</string>
	<key>setRetainedConstantList</key>
	<string>rotateCommonValueAdapter</string>
</dict>
</plist>
