<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decoupleMediocreVariableInstance</key>
	<string>captureCrudeTailGroup</string>
	<key>removeNumericalChallengeDelegate</key>
	<string>drawSecondBufferPool</string>
	<key>setGlobalMomentumArray</key>
	<string>cancelAutoNormReference</string>
</dict>
</plist>
