<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>restartIndependentBottomOwner</key>
	<string>initializeArithmeticTaskExtension</string>
	<key>scheduleUniformOptionCreator</key>
	<string>discoverOriginalPreviewArray</string>
	<key>setExplicitBorderObserver</key>
	<string>getCustomizedStepType</string>
</dict>
</plist>
