<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enumerateRelationalVarFilter</key>
	<string>trainCartesianChartAdapter</string>
	<key>getSmartTempleType</key>
	<string>setSubstantialVariableImplement</string>
	<key>getStandaloneIntensityCreator</key>
	<string>detachSingleElementFilter</string>
	<key>startHierarchicalScopeImplement</key>
	<string>visitHierarchicalImageCreator</string>
</dict>
</plist>
