<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>quitAutoTentativeDelegate</key>
	<string>trainReusableParameterImplement</string>
	<key>setAutoScaleDecorator</key>
	<string>drawOtherNameCreator</string>
	<key>setSmallLossDecorator</key>
	<string>getPrevVariableDelegate</string>
	<key>skipUnsortedRoleDelegate</key>
	<string>getStandaloneParticleCollection</string>
</dict>
</plist>
