<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelCustomizedBoundDecorator</key>
	<string>getDisplayableSkewXContainer</string>
	<key>cancelSmartFlagsAdapter</key>
	<string>setDedicatedPolyfillArray</string>
	<key>freeNewestOpacityContainer</key>
	<string>setCustomTempleContainer</string>
	<key>getPrismaticTitleContainer</key>
	<string>revisitAutoBufferProtocol</string>
	<key>pauseDedicatedResilienceInstance</key>
	<string>initializeSpecifyCurveCreator</string>
	<key>prepareSemanticShapeManager</key>
	<string>setPrimaryResolverPool</string>
	<key>setIntermediateTempleBase</key>
	<string>trainSubtleProfilePool</string>
</dict>
</plist>
