<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelPriorTextContainer</key>
	<string>setPrismaticUtilAdapter</string>
	<key>endConcurrentSymbolReference</key>
	<string>getRelationalIntegerGroup</string>
	<key>getOtherImpressionExtension</key>
	<string>trainSharedMomentumDelegate</string>
	<key>getSubtleMomentumInstance</key>
	<string>freeKeyUtilBase</string>
	<key>pauseUniqueImpactStack</key>
	<string>regulatePrevValueImplement</string>
	<key>prepareUniqueVarManager</key>
	<string>restartAccordionBaseObserver</string>
	<key>restartCustomResolverGroup</key>
	<string>setSubtleRowExtension</string>
	<key>storeReusableTagHandler</key>
	<string>getDiscardedAllocatorCache</string>
	<key>syncDifficultBehaviorContainer</key>
	<string>getEphemeralAllocatorProtocol</string>
</dict>
</plist>
