<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equalSubtleGraphicOwner</key>
	<string>offsetProtectedGraphExtension</string>
	<key>getEnabledGroupOwner</key>
	<string>setDisplayableGrainGroup</string>
	<key>getPrismaticParameterCollection</key>
	<string>resumeIterativeZoneOwner</string>
	<key>getRobustGiftImplement</key>
	<string>setGreatButtonGroup</string>
	<key>multiplyDirectNameDelegate</key>
	<string>playArithmeticDescriptionCreator</string>
	<key>pauseIntermediateNumberType</key>
	<string>detachSubtlePolyfillFilter</string>
	<key>quitMissedChartStack</key>
	<string>endResilientScaleFactory</string>
	<key>setArithmeticAssetList</key>
	<string>stopOtherQueueCache</string>
	<key>setIndependentTempleHandler</key>
	<string>getCriticalVarObserver</string>
	<key>startReusableTailImplement</key>
	<string>finishAdvancedTempleArray</string>
</dict>
</plist>
