<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>combineLiteSessionFilter</key>
	<string>finishEnabledRectangleExtension</string>
	<key>initializeProtectedNumberOwner</key>
	<string>undertakeBeginnerBoundProtocol</string>
	<key>prepareOriginalSkewXTarget</key>
	<string>escalateSymmetricInitiatorsOwner</string>
	<key>refreshRobustLayoutExtension</key>
	<string>showArithmeticMenuObserver</string>
	<key>trainElasticAccessoryInstance</key>
	<string>upgradeOldSceneBase</string>
</dict>
</plist>
