<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endMutableAlphaStack</key>
	<string>resumeEphemeralValueContainer</string>
	<key>getPublicCoordinatorManager</key>
	<string>getSingleStepStack</string>
	<key>retainSecondMasterInstance</key>
	<string>dropoutPivotalParameterOwner</string>
	<key>setNumericalIndexHelper</key>
	<string>allocateSortedParameterStack</string>
</dict>
</plist>
