<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueAdvancedVariableArray</key>
	<string>getConsultativeReductionArray</string>
	<key>getRespectiveRectDelegate</key>
	<string>endCrudeScaleArray</string>
	<key>prepareSimilarVariableObserver</key>
	<string>divideCrucialAspectBase</string>
	<key>setConcreteRotationCreator</key>
	<string>setDenseViewInstance</string>
</dict>
</plist>
