<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dismissDelicateButtonAdapter</key>
	<string>stopSortedDescriptionManager</string>
	<key>getCustomizedCoordTarget</key>
	<string>undertakeSmallDispatcherPool</string>
	<key>reconcileGreatNameReference</key>
	<string>setCrudeEdgeCreator</string>
	<key>setSpecifyAnimationStack</key>
	<string>getKeyVariableExtension</string>
	<key>startCommonIntensityInstance</key>
	<string>stopFusedBinaryReference</string>
</dict>
</plist>
