<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detachCommonOpacityPool</key>
	<string>getNextOpacityManager</string>
	<key>endFirstHashDelegate</key>
	<string>markFirstParamFactory</string>
	<key>getDirectReductionBase</key>
	<string>getEasyBorderCreator</string>
	<key>getIgnoredVarGroup</key>
	<string>setTypicalPolygonList</string>
	<key>quitLiteLayoutManager</key>
	<string>fillSophisticatedLoopInstance</string>
	<key>shearSubstantialQuaternionContainer</key>
	<string>generateElasticAnimationHelper</string>
	<key>startKeyConfigurationCreator</key>
	<string>getDifficultStrengthContainer</string>
</dict>
</plist>
