<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelCurrentBufferProtocol</key>
	<string>getSemanticInstructionContainer</string>
	<key>generateEasyDisclaimerStack</key>
	<string>resetSynchronousTaxonomyFactory</string>
	<key>getConsultativeSkewYGroup</key>
	<string>resizeLocalFlagsHelper</string>
	<key>initializeBackwardTailManager</key>
	<string>resetDedicatedConfigurationBase</string>
	<key>pauseSubsequentEqualizationObserver</key>
	<string>continueSharedInformationType</string>
	<key>startPermanentRestrictionCollection</key>
	<string>getAccessibleMetadataCreator</string>
	<key>stopSophisticatedViewManager</key>
	<string>trainPermanentPlaybackTarget</string>
	<key>syncOldInterpolationHelper</key>
	<string>skipAutoNameCollection</string>
</dict>
</plist>
