<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>divideSharedFlagsCache</key>
	<string>initializeSubsequentOpacityCache</string>
	<key>setIndependentTopCache</key>
	<string>getTypicalObjectStack</string>
	<key>undertakePrevMeshDecorator</key>
	<string>setRobustBufferType</string>
</dict>
</plist>
