<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captureLastAlphaPool</key>
	<string>parseRespectiveVarArray</string>
	<key>limitSubstantialChannelsReference</key>
	<string>offsetSortedEdgeCache</string>
	<key>restartCustomizedListenerDecorator</key>
	<string>getPivotalInterfaceReference</string>
	<key>setExplicitAllocatorManager</key>
	<string>pauseSubsequentInterfaceAdapter</string>
	<key>setMainFragmentObserver</key>
	<string>navigatePublicScopeCollection</string>
	<key>startIntuitiveDocumentObserver</key>
	<string>setCriticalGridAdapter</string>
	<key>stopGlobalEquivalentCollection</key>
	<string>rectifyActivatedStyleHandler</string>
</dict>
</plist>
