<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>computeGranularEdgeList</key>
	<string>cloneNormalValueInstance</string>
	<key>concatenateDiversifiedEvolutionPool</key>
	<string>quantizerComprehensiveValueHandler</string>
	<key>continueIntuitiveValueCreator</key>
	<string>provideEphemeralAnalogyObserver</string>
	<key>divideMainHeadManager</key>
	<string>getStaticLoopOwner</string>
	<key>endUniqueRendererCache</key>
	<string>setGranularPopupDelegate</string>
	<key>resumeIntermediateTaskHelper</key>
	<string>refreshLocalThroughputObserver</string>
	<key>setMutableSkewYGroup</key>
	<string>setMediocreProjectionFilter</string>
	<key>setTypicalTopCache</key>
	<string>continueDisplayableAspectHelper</string>
	<key>startEphemeralParameterStack</key>
	<string>startCommonVarObserver</string>
	<key>startOtherSchedulerOwner</key>
	<string>pauseSmartMetricsOwner</string>
</dict>
</plist>
