<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endDenseAssetType</key>
	<string>adjustMissedRendererHelper</string>
	<key>getSynchronousEvaluationList</key>
	<string>restartDirectlyVarInstance</string>
	<key>introspectBeginnerTextureObserver</key>
	<string>getCartesianVarProtocol</string>
	<key>setPrismaticCoordFilter</key>
	<string>initializeCommonReferenceCreator</string>
	<key>startSeamlessColorPool</key>
	<string>trainAssociatedAnchorTarget</string>
	<key>storeIntermediateIntegrityCreator</key>
	<string>aggregateSmallParameterReference</string>
</dict>
</plist>
