<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getCurrentRectContainer</key>
	<string>startEnabledOpacityHelper</string>
	<key>pauseEuclideanApertureContainer</key>
	<string>getDiversifiedToleranceProtocol</string>
	<key>retrieveStandaloneProvisionList</key>
	<string>resumeNewestValueStack</string>
</dict>
</plist>
