<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accelerateGeometricStrokeArray</key>
	<string>restartUsedMasterStack</string>
	<key>encapsulateBackwardScopeFilter</key>
	<string>encapsulateDirectEffectCreator</string>
	<key>getAccordionArchitectureList</key>
	<string>obtainSecondVectorDecorator</string>
	<key>getSmallSpineStack</key>
	<string>obtainPermissivePopupImplement</string>
	<key>getSophisticatedInterfaceImplement</key>
	<string>getOldValueCreator</string>
	<key>keepDiscardedSegmentArray</key>
	<string>restartUnsortedScaleFilter</string>
	<key>setEuclideanBufferPool</key>
	<string>setTensorPreviewOwner</string>
	<key>setOtherLogarithmDecorator</key>
	<string>getCrudeMechanismProtocol</string>
</dict>
</plist>
