<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appendCrudeVarCache</key>
	<string>resetNewestDeliveryTarget</string>
	<key>setExplicitTopTarget</key>
	<string>continueSortedScaleReference</string>
	<key>startUnactivatedTempleCreator</key>
	<string>getDifficultItemObserver</string>
	<key>stopIntuitiveProjectContainer</key>
	<string>getDenseIntegrationInstance</string>
	<key>stopNormalBehaviorDelegate</key>
	<string>getAccessibleOriginDecorator</string>
</dict>
</plist>
