<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accelerateCrudeBorderReference</key>
	<string>setSmallProgressBarStack</string>
	<key>dissociateSingleParameterBase</key>
	<string>requestSharedVarList</string>
	<key>endBasicTopFilter</key>
	<string>setMultiMasterContainer</string>
	<key>keepNewestStrengthProtocol</key>
	<string>setSmallTempleBase</string>
	<key>setCommonValueArray</key>
	<string>initializeSortedVertexExtension</string>
	<key>setCustomScaleObserver</key>
	<string>prepareSmallDeliveryArray</string>
	<key>trainCustomSubpixelCollection</key>
	<string>obtainGeometricCertificatePool</string>
</dict>
</plist>
