<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkSharedVectorAdapter</key>
	<string>getIntermediateEntropyPool</string>
	<key>setDeclarativeLeftReference</key>
	<string>setHardRemediationManager</string>
	<key>setIgnoredParamFilter</key>
	<string>setDirectlyClusterOwner</string>
	<key>spinFusedDescriptionBase</key>
	<string>touchDelicateTempleGroup</string>
	<key>transposeCommonPaddingManager</key>
	<string>dissociateGlobalRightStack</string>
</dict>
</plist>
