<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelOriginalBufferFactory</key>
	<string>initializeSignificantCoordPool</string>
	<key>finishUniqueScaleOwner</key>
	<string>getIterativeVarDecorator</string>
	<key>getSecondResolverArray</key>
	<string>spinEphemeralParameterTarget</string>
	<key>getUniformVertexGroup</key>
	<string>getRespectiveHashType</string>
	<key>pushTypicalEffectProtocol</key>
	<string>dissociateFirstLayoutCache</string>
	<key>resumeTypicalIntensityFilter</key>
	<string>restartEuclideanStatusProtocol</string>
	<key>startSynchronousBulletObserver</key>
	<string>keepConcreteKernelCreator</string>
</dict>
</plist>
