<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detachDedicatedDescriptionHelper</key>
	<string>cancelSubsequentDepthAdapter</string>
	<key>getAsynchronousEquivalentFilter</key>
	<string>erasePrismaticBitrateStack</string>
	<key>getSubstantialSkewYCollection</key>
	<string>getCartesianSizeOwner</string>
	<key>getUnsortedSignatureCollection</key>
	<string>setIntuitivePreviewCreator</string>
	<key>initializeDirectlyPopupGroup</key>
	<string>trainDisplayableValueTarget</string>
	<key>pauseMediumCertificateGroup</key>
	<string>pausePrismaticLabelHandler</string>
</dict>
</plist>
