<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>calculateCustomNamePool</key>
	<string>spinResilientVarDecorator</string>
	<key>keepIntermediateMovementCreator</key>
	<string>restartIntuitiveZoneContainer</string>
	<key>setIterativeParameterHelper</key>
	<string>computeExplicitTimeObserver</string>
	<key>skipDiscardedAlphaStack</key>
	<string>restartPermanentSpriteHandler</string>
	<key>streamlineOpaqueColorPool</key>
	<string>setAssociatedVarCollection</string>
</dict>
</plist>
