<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exitNumericalParamManager</key>
	<string>restartReusableAnalogyFilter</string>
	<key>getAsynchronousMasterTarget</key>
	<string>skipNextLayoutAdapter</string>
	<key>getIntuitiveOriginStack</key>
	<string>getConcreteScaleExtension</string>
	<key>getOriginalCardAdapter</key>
	<string>createAsynchronousLeftArray</string>
	<key>getTypicalTailHelper</key>
	<string>spinPrismaticBatchInstance</string>
	<key>playSharedToolObserver</key>
	<string>cleanDiversifiedVarProtocol</string>
	<key>releaseKeyGateHandler</key>
	<string>markSingleContractionGroup</string>
	<key>setResilientVariableList</key>
	<string>setSemanticChartExtension</string>
	<key>stopPrismaticItemManager</key>
	<string>prepareTensorHeadCreator</string>
</dict>
</plist>
