<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endIndependentNodeHelper</key>
	<string>pauseSecondArchitectureObserver</string>
	<key>setDeclarativeParameterPool</key>
	<string>differentiateLocalBorderType</string>
	<key>setIntuitiveSizeContainer</key>
	<string>skipEphemeralAssetContainer</string>
	<key>startOldPriorityCollection</key>
	<string>getRelationalTechniqueInstance</string>
</dict>
</plist>
