<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueEasyTextureTarget</key>
	<string>floatLocalParamType</string>
	<key>encapsulateGreatOpacityCache</key>
	<string>getOldBufferContainer</string>
	<key>finishLastSlashFilter</key>
	<string>releaseDirectlyPositionAdapter</string>
	<key>offsetPermanentGridGroup</key>
	<string>setIndependentPopupCreator</string>
	<key>setSingleVariableList</key>
	<string>analyzeBasicFlagsHandler</string>
	<key>startConsultativeSpriteArray</key>
	<string>setCrucialEdgeFactory</string>
</dict>
</plist>
