<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getDirectlyBoundList</key>
	<string>cancelImmutableGraphCreator</string>
	<key>getGlobalRectangleDecorator</key>
	<string>setEuclideanVariableAdapter</string>
	<key>moveUniqueTempleType</key>
	<string>getUniqueCapacitiesContainer</string>
	<key>setPermanentLabelType</key>
	<string>initializeDisparateNumberFilter</string>
	<key>setReusableTailType</key>
	<string>getRapidParameterExtension</string>
	<key>setSubstantialVarFactory</key>
	<string>getCustomizedSlashAdapter</string>
	<key>unscheduleLocalNumberExtension</key>
	<string>renameCustomizedValueFilter</string>
</dict>
</plist>
