<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipMutableSymbolType</key>
	<string>stopBasicChartContainer</string>
	<key>embedLiteVectorDelegate</key>
	<string>destroyConsultativeNumberAdapter</string>
	<key>endCommonMatrixHelper</key>
	<string>setIterativeEdgeFactory</string>
	<key>getPermissiveIntegrityManager</key>
	<string>getAgileScaleHelper</string>
	<key>getUnactivatedModulusCollection</key>
	<string>setPermanentTangentAdapter</string>
	<key>setIgnoredSkewYStack</key>
	<string>createCurrentFeatureOwner</string>
	<key>startReusableAssetDelegate</key>
	<string>getAdvancedParamCollection</string>
	<key>unlockSymmetricHeadBase</key>
	<string>keepBeginnerIndexExtension</string>
</dict>
</plist>
