<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associateMutableSubpixelHandler</key>
	<string>resumeRobustHeroDelegate</string>
	<key>endSustainableSizeCollection</key>
	<string>setSemanticNumberFactory</string>
	<key>getSemanticObjectDelegate</key>
	<string>getProtectedPopupList</string>
	<key>introspectPivotalIndicatorGroup</key>
	<string>setSemanticTailCache</string>
</dict>
</plist>
