<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clearSecondPositionStack</key>
	<string>setGeometricValueExtension</string>
	<key>getConcreteStampManager</key>
	<string>continueElasticViewManager</string>
	<key>releaseGeometricTitleCreator</key>
	<string>decoupleOldCapsuleDecorator</string>
	<key>removeDisplayableChartAdapter</key>
	<string>computeDifficultParameterDelegate</string>
	<key>setAutoDocumentGroup</key>
	<string>setSecondDescriptionFactory</string>
	<key>setOtherLabelInstance</key>
	<string>getUsedInitiativeAdapter</string>
	<key>setTypicalColorCreator</key>
	<string>setLargeNotationCreator</string>
	<key>stopEnabledContrastDecorator</key>
	<string>getOpaqueRectangleList</string>
	<key>trainPermissiveMetricsHelper</key>
	<string>getResilientParamType</string>
</dict>
</plist>
