<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>initializeGranularThreadFilter</key>
	<string>reduceIndependentTagOwner</string>
	<key>keepIgnoredTechniqueHandler</key>
	<string>finishPrevNumberTarget</string>
	<key>mitigateKeyNodeContainer</key>
	<string>equalDiversifiedNumberHelper</string>
	<key>stopSimilarMatrixReference</key>
	<string>compareSecondGroupHelper</string>
</dict>
</plist>
