<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getOriginalSceneCreator</key>
	<string>getCartesianMasterArray</string>
	<key>restartAgileBoundTarget</key>
	<string>resizeEnabledMemberCache</string>
	<key>trainOtherCurveHandler</key>
	<string>setLastBoundStack</string>
</dict>
</plist>
