<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dismissCustomizedWorkflowPool</key>
	<string>combineSignificantSpriteDelegate</string>
	<key>getBasicPositionAdapter</key>
	<string>dismissDirectlyAssetOwner</string>
	<key>getCurrentHeadImplement</key>
	<string>setCommonParticleExtension</string>
	<key>getMultiScaleGroup</key>
	<string>skipGlobalProgressBarDecorator</string>
	<key>getMultiTailImplement</key>
	<string>getFirstToolDelegate</string>
	<key>limitAssociatedTraversalHelper</key>
	<string>skipIntermediateModulusManager</string>
	<key>locateCustomizedResolverTarget</key>
	<string>keepCriticalSkinInstance</string>
</dict>
</plist>
