<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelMutableFeatureExtension</key>
	<string>continueAccessibleLayerDelegate</string>
	<key>checkReusablePopupCache</key>
	<string>continueRequiredResolverFactory</string>
	<key>detachRobustCertificateDelegate</key>
	<string>getBasicMendHandler</string>
	<key>exitKeyStepBase</key>
	<string>setPrimaryNotationContainer</string>
	<key>keepRelationalCenterList</key>
	<string>setGreatRectContainer</string>
	<key>prepareIndependentCosineType</key>
	<string>detachCriticalBufferPool</string>
	<key>setEasyTopPool</key>
	<string>decoupleUniqueGraphBase</string>
	<key>setNumericalGroupPool</key>
	<string>associateSmallTopObserver</string>
</dict>
</plist>
