<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>embraceCurrentTagType</key>
	<string>getCartesianZoneType</string>
	<key>keepResilientNormBase</key>
	<string>resumeIntermediateIndexOwner</string>
	<key>poolMutableClusterFactory</key>
	<string>keepRespectiveProgressBarReference</string>
	<key>quantizerNormalTextureHelper</key>
	<string>createMediocreVariableHandler</string>
	<key>trainAccessibleBufferStack</key>
	<string>cancelGlobalMeshDelegate</string>
</dict>
</plist>
