<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accelerateUniqueChannelsManager</key>
	<string>keepCrudeDepthExtension</string>
	<key>getDisparateTailManager</key>
	<string>setElasticTextHelper</string>
	<key>getLiteEventList</key>
	<string>adjustStaticDepthTarget</string>
	<key>setCustomizedColorTarget</key>
	<string>trainFirstOpacityArray</string>
	<key>setIterativeIndicatorStack</key>
	<string>getDelicateGemHelper</string>
	<key>writeEuclideanGridCache</key>
	<string>resumeKeyVideoDecorator</string>
</dict>
</plist>
