<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelHardParamDelegate</key>
	<string>startConcreteResultHelper</string>
	<key>combineDiversifiedNodeType</key>
	<string>getConsultativePopupFactory</string>
	<key>displaySpecifyNotationFilter</key>
	<string>writeDiversifiedCenterReference</string>
	<key>endSemanticChartManager</key>
	<string>setPrismaticRightCache</string>
	<key>getCriticalNumberCache</key>
	<string>setOldGateDelegate</string>
	<key>getDisparateParameterGroup</key>
	<string>keepOpaqueThroughputImplement</string>
	<key>getOpaqueResolverType</key>
	<string>restartSymmetricVariablePool</string>
	<key>optimizePivotalVarTarget</key>
	<string>trainSubtleDeliveryPool</string>
	<key>prepareSortedChapterCache</key>
	<string>skipNumericalGiftBase</string>
</dict>
</plist>
