<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dissociateDisplayableTextExtension</key>
	<string>getPrimaryMetadataBase</string>
	<key>equalSymmetricCacheImplement</key>
	<string>retrieveUnsortedPrecisionGroup</string>
	<key>getRelationalTagGroup</key>
	<string>getMediumOpacityBase</string>
	<key>setDirectlyEdgeObserver</key>
	<string>stopOtherAxisContainer</string>
	<key>setSynchronousInterfaceContainer</key>
	<string>optimizeGlobalDepthHandler</string>
	<key>stopAutoSpineContainer</key>
	<string>getLargeLayerImplement</string>
</dict>
</plist>
