<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipLiteInitiativeGroup</key>
	<string>animateSemanticFlagsList</string>
	<key>getOriginalNameInstance</key>
	<string>getIndependentButtonHelper</string>
	<key>getSynchronousBorderTarget</key>
	<string>embraceElasticTempleDecorator</string>
	<key>pauseHierarchicalOpacityHandler</key>
	<string>getPrimaryAllocatorCreator</string>
	<key>prepareDeclarativeRectangleArray</key>
	<string>refreshUsedImpactObserver</string>
	<key>resumeArithmeticRouteContainer</key>
	<string>getBasicRendererCollection</string>
	<key>setOldEfficiencyCreator</key>
	<string>finishSubtleMetadataArray</string>
	<key>unlockSynchronousInterfaceObserver</key>
	<string>revisitFirstTagOwner</string>
</dict>
</plist>
