<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelLostProjectBase</key>
	<string>getAsynchronousCenterExtension</string>
	<key>computeDeclarativeSkewYCollection</key>
	<string>setTypicalBufferHelper</string>
	<key>continueIntermediateCardReference</key>
	<string>addActivatedTempleHelper</string>
	<key>getHardVolumeDelegate</key>
	<string>checkNewestGrainReference</string>
	<key>getRelationalTaxonomyProtocol</key>
	<string>setFirstMaterialCache</string>
	<key>setAccessibleCoordList</key>
	<string>getRequiredSymbolObserver</string>
	<key>setGeometricNumberDelegate</key>
	<string>insteadDelicateSkewYType</string>
	<key>setGreatTextureFactory</key>
	<string>restartOpaquePopupStack</string>
	<key>trainSortedSkewYHandler</key>
	<string>encapsulateNewestBatchBase</string>
	<key>visitTypicalStrengthBase</key>
	<string>resumeSmartVarHandler</string>
</dict>
</plist>
