<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>combineDisplayableIndexGroup</key>
	<string>keepTypicalZoneObserver</string>
	<key>endOldCoordStack</key>
	<string>getSingleObserverPool</string>
	<key>finishDirectlyAspectManager</key>
	<string>initializeAdvancedQueueBase</string>
	<key>initializePivotalBufferOwner</key>
	<string>associateUniformTopicImplement</string>
</dict>
</plist>
