<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelPrimaryDetailOwner</key>
	<string>getRapidEntropyType</string>
	<key>createCartesianHashHelper</key>
	<string>discoverResilientAspectCache</string>
	<key>finishHardOpacityFactory</key>
	<string>holdAccordionTempleContainer</string>
	<key>getArithmeticEdgeHelper</key>
	<string>pauseRequiredVariableOwner</string>
	<key>getConcreteFormatProtocol</key>
	<string>resumeDirectlyDispatcherList</string>
	<key>getMissedBorderInstance</key>
	<string>pauseDiversifiedEvaluationExtension</string>
	<key>limitSmallFormatObserver</key>
	<string>syncCustomizedMasterHandler</string>
	<key>pauseEphemeralPolyfillStack</key>
	<string>setSignificantSineAdapter</string>
	<key>setActivatedVarType</key>
	<string>setDirectLeftTarget</string>
	<key>setAutoVarFactory</key>
	<string>prepareOriginalBehaviorDelegate</string>
</dict>
</plist>
