<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>findIterativeAxisArray</key>
	<string>stopLocalPreviewOwner</string>
	<key>getConsultativeStrengthImplement</key>
	<string>prepareCustomRowContainer</string>
	<key>getOldVarAdapter</key>
	<string>setUsedTopBase</string>
	<key>getUniqueTagFactory</key>
	<string>getCustomSchedulerTarget</string>
	<key>insteadSpecifySizeBase</key>
	<string>prepareCrucialVariablePool</string>
</dict>
</plist>
