<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animateComprehensiveIntensityCache</key>
	<string>searchLostCenterReference</string>
	<key>cloneRobustElasticityArray</key>
	<string>pauseSortedValueCache</string>
	<key>continueRetainedSkewYDelegate</key>
	<string>clearOldGraphExtension</string>
	<key>dismissSharedBehaviorBase</key>
	<string>extendDeclarativeDataList</string>
	<key>getPivotalBorderReference</key>
	<string>getOpaqueMovementHandler</string>
	<key>markSubtleDescentDecorator</key>
	<string>playIndependentBufferProtocol</string>
	<key>offsetExplicitSkewYManager</key>
	<string>getCriticalPolygonFilter</string>
	<key>pauseRequiredDistinctionList</key>
	<string>replaceFirstColorCollection</string>
</dict>
</plist>
