<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getDelicateZoneTarget</key>
	<string>extendAgileCycleBase</string>
	<key>getHierarchicalFrameHandler</key>
	<string>restorePriorNumberPool</string>
	<key>makeCrucialTempleReference</key>
	<string>updateGeometricAccessoryObserver</string>
	<key>offsetNormalViewContainer</key>
	<string>setDirectCurveCollection</string>
	<key>setPivotalEntropyCreator</key>
	<string>accelerateDisparatePopupFactory</string>
	<key>setPriorParameterAdapter</key>
	<string>setHyperbolicConfigurationInstance</string>
	<key>setRespectiveTempleInstance</key>
	<string>cancelAdvancedSubpixelGroup</string>
	<key>skipIntuitiveTimeCache</key>
	<string>setOriginalColorList</string>
</dict>
</plist>
