<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelUniformInterfaceList</key>
	<string>endDisparateTailTarget</string>
	<key>fillSubtleParameterCollection</key>
	<string>trainProtectedParameterCreator</string>
	<key>getPriorGroupObserver</key>
	<string>setSustainableBufferCreator</string>
	<key>respondUnsortedInterfaceGroup</key>
	<string>showBackwardListenerDecorator</string>
	<key>startSmartValueCollection</key>
	<string>quantizerCrudeQuaternionContainer</string>
</dict>
</plist>
