<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishSubtleGraphFactory</key>
	<string>getSubsequentRemainderExtension</string>
	<key>getCrudeFlagsType</key>
	<string>generateSpecifyProfileHelper</string>
	<key>getOtherGraphicExtension</key>
	<string>setMissedOptionObserver</string>
	<key>getRobustTitleManager</key>
	<string>setSignificantScenarioHandler</string>
	<key>initializeSemanticBufferReference</key>
	<string>locateSemanticConfigurationStack</string>
	<key>pauseBasicTempleDelegate</key>
	<string>upgradeSemanticModelCache</string>
	<key>provideSubsequentMovementType</key>
	<string>divideStandaloneChapterCache</string>
	<key>setAssociatedButtonStack</key>
	<string>makeAdvancedBaselineImplement</string>
	<key>skipSharedInterpolationInstance</key>
	<string>setIndependentMovementDelegate</string>
	<key>startOtherOpacityDelegate</key>
	<string>continueCustomizedVarCollection</string>
</dict>
</plist>
