<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloneCommonWorkflowPool</key>
	<string>removeSubtleAllocatorBase</string>
	<key>getConcreteSkewYContainer</key>
	<string>keepPublicButtonBase</string>
	<key>getSubstantialInfoHelper</key>
	<string>prepareOriginalFlagsFactory</string>
	<key>lockPivotalApertureImplement</key>
	<string>restartPermanentResultObserver</string>
	<key>prepareCriticalGroupCache</key>
	<string>keepTensorTagOwner</string>
	<key>reconcileCriticalTempleDecorator</key>
	<string>findAsynchronousGroupManager</string>
	<key>restartGranularProgressBarInstance</key>
	<string>finishElasticBandwidthReference</string>
	<key>undertakeImmutableParamAdapter</key>
	<string>getIntuitiveParamCreator</string>
</dict>
</plist>
