<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decoupleOldTopReference</key>
	<string>resetEnabledLossAdapter</string>
	<key>detachPermissiveChapterCache</key>
	<string>startRequiredTailType</string>
	<key>displayGeometricVectorBase</key>
	<string>startExplicitParamOwner</string>
	<key>getFusedGraphHandler</key>
	<string>adjustIntuitiveDepthImplement</string>
	<key>getOtherGraphicCreator</key>
	<string>multiplyIgnoredObjectManager</string>
	<key>offsetOpaqueDeliveryObserver</key>
	<string>setAssociatedCoordinatorCollection</string>
	<key>pauseGranularParamOwner</key>
	<string>requestSymmetricScaleFactory</string>
	<key>setEasyParamManager</key>
	<string>trainPublicBufferTarget</string>
</dict>
</plist>
