<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>floatPriorVarCache</key>
	<string>cancelLargeNumberTarget</string>
	<key>pauseBasicUtilPool</key>
	<string>compareSubstantialNumberFilter</string>
	<key>reconcileOriginalSizeDecorator</key>
	<string>setGlobalLabelStack</string>
</dict>
</plist>
