<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>executeAccessibleGrainBase</key>
	<string>endMissedPreviewReference</string>
	<key>getEasyTopicImplement</key>
	<string>endRobustWorkflowExtension</string>
	<key>getSubsequentFlagsHandler</key>
	<string>getCurrentGroupBase</string>
	<key>prepareKeyParameterFactory</key>
	<string>getPivotalScaleCache</string>
	<key>resetRobustIndexGroup</key>
	<string>syncFirstNumberInstance</string>
	<key>updateActivatedCenterArray</key>
	<string>respondSingleCenterReference</string>
</dict>
</plist>
