<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aggregateResilientAnalogyDecorator</key>
	<string>stopLocalActivityContainer</string>
	<key>allocateSpecifyCharacterManager</key>
	<string>getSymmetricNumberImplement</string>
	<key>concatenateSmallNumberImplement</key>
	<string>setAdvancedOpacityDelegate</string>
	<key>initializePrevScaleOwner</key>
	<string>restartMediocreVarPool</string>
	<key>markHardVariableHelper</key>
	<string>respondSophisticatedValueGroup</string>
	<key>obtainIntermediateBulletExtension</key>
	<string>moveSemanticArithmeticPool</string>
	<key>resumeSingleSpriteObserver</key>
	<string>stopNumericalReductionFactory</string>
	<key>stopMutableCursorReference</key>
	<string>getSharedIndexFilter</string>
	<key>storeEasyConfigurationProtocol</key>
	<string>renameResilientTempleHandler</string>
</dict>
</plist>
