<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>generateElasticFeatureCache</key>
	<string>exitPivotalTopInstance</string>
	<key>getResilientEdgeType</key>
	<string>trainDirectVariableGroup</string>
	<key>pauseSubsequentPositionFactory</key>
	<string>captureActivatedTraversalGroup</string>
	<key>reconcileCriticalRectangleReference</key>
	<string>stopPriorSkewXTarget</string>
	<key>resumeNewestValueDecorator</key>
	<string>endActivatedUnaryHelper</string>
	<key>setPrimaryCoordGroup</key>
	<string>keepEasyStyleProtocol</string>
	<key>setPrimaryRotationStack</key>
	<string>setPivotalCenterCache</string>
	<key>trainSharedVariableArray</key>
	<string>continueDisplayableDataCreator</string>
</dict>
</plist>
