<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelSemanticMetricsBase</key>
	<string>initializeGeometricModelInstance</string>
	<key>continueDisparateBitrateCreator</key>
	<string>cancelStandaloneDepthProtocol</string>
	<key>endLargeNumberStack</key>
	<string>getCriticalVariablePool</string>
	<key>finishUniqueParamReference</key>
	<string>setPrevScreenObserver</string>
	<key>getExplicitMechanismList</key>
	<string>getFusedVarHandler</string>
	<key>getMutableCoordProtocol</key>
	<string>getConsultativeSpriteHandler</string>
	<key>playSecondVectorBase</key>
	<string>divideCriticalShapeInstance</string>
	<key>prepareMediumActionInstance</key>
	<string>clipCartesianShaderFactory</string>
	<key>releaseBasicNumberInstance</key>
	<string>setTypicalValueType</string>
	<key>setLostApertureHandler</key>
	<string>setEnabledAlphaContainer</string>
</dict>
</plist>
