<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipAsynchronousProgressBarArray</key>
	<string>pauseLastRotationDecorator</string>
	<key>continueAssociatedSceneInstance</key>
	<string>keepSeamlessMemberArray</string>
	<key>equalPublicTempleOwner</key>
	<string>aggregateSustainableOptimizerTarget</string>
	<key>getLargeItemManager</key>
	<string>trainExplicitHashBase</string>
	<key>getMediumFeatureCache</key>
	<string>storeMutableTempleCollection</string>
	<key>keepDisplayableBufferDelegate</key>
	<string>getOldSkewXHelper</string>
	<key>keepStandaloneOriginAdapter</key>
	<string>getResilientModuleDelegate</string>
</dict>
</plist>
