<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueSustainableBrushPool</key>
	<string>setIterativeLayoutDelegate</string>
	<key>endHierarchicalOpacityHandler</key>
	<string>setPermissiveTempleImplement</string>
	<key>getOriginalBufferDelegate</key>
	<string>getDenseSpecifierCreator</string>
	<key>navigateUsedVariableStack</key>
	<string>getSharedBufferDecorator</string>
	<key>preparePublicValueHandler</key>
	<string>getPriorVisibleDelegate</string>
	<key>restartRetainedInterpolationCreator</key>
	<string>finishEnabledConsumptionPool</string>
	<key>setConsultativeTentativeExtension</key>
	<string>trainIterativeBoundObserver</string>
	<key>startSymmetricModelManager</key>
	<string>cancelLocalFrameHandler</string>
	<key>stopSharedLogarithmInstance</key>
	<string>finishPrimaryVariableInstance</string>
	<key>updateDisplayableVarCollection</key>
	<string>resumeBasicBufferType</string>
</dict>
</plist>
