<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelPrevBufferOwner</key>
	<string>skipPrimaryStyleHandler</string>
	<key>combinePivotalBufferCollection</key>
	<string>resumeResilientBufferOwner</string>
	<key>continueUniquePolyfillObserver</key>
	<string>setSmallShapeImplement</string>
	<key>setDisplayableValueObserver</key>
	<string>markPriorPriorityOwner</string>
	<key>setHardProvisionList</key>
	<string>cancelSubsequentTopList</string>
	<key>setSustainableSkewYDecorator</key>
	<string>keepDenseLabelOwner</string>
	<key>startArithmeticElementOwner</key>
	<string>setHardBottomReference</string>
</dict>
</plist>
