<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clearSustainableVisiblePool</key>
	<string>keepLostBinaryFactory</string>
	<key>endAdvancedVarManager</key>
	<string>getDirectWorkflowHandler</string>
	<key>finishBeginnerFlagsBase</key>
	<string>pauseHierarchicalCoordAdapter</string>
	<key>finishIgnoredVectorOwner</key>
	<string>pauseLiteSkewXList</string>
	<key>getSmallColorImplement</key>
	<string>generateAdvancedFragmentsTarget</string>
	<key>reduceAccessibleRotationCreator</key>
	<string>introspectUniqueMatrixImplement</string>
	<key>setBeginnerSceneContainer</key>
	<string>fillTensorStyleCollection</string>
	<key>setMultiAmortizationCreator</key>
	<string>retainMainVisibleGroup</string>
	<key>setMutableAssetPool</key>
	<string>transposeRespectiveParameterOwner</string>
	<key>storeHierarchicalSampleOwner</key>
	<string>transposeLiteBufferStack</string>
</dict>
</plist>
