<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compareAccordionDescriptorOwner</key>
	<string>finishDirectEdgeHelper</string>
	<key>endSpecifyCubeBase</key>
	<string>resumeRespectiveMovementTarget</string>
	<key>eraseCustomHeadStack</key>
	<string>markDirectBinaryType</string>
	<key>getDisparateTempleContainer</key>
	<string>restoreCrucialTopicStack</string>
	<key>getSmartSkewXExtension</key>
	<string>offsetProtectedTempleInstance</string>
	<key>multiplyDisplayableObjectHelper</key>
	<string>setIntuitiveChartFactory</string>
	<key>pauseResilientParamCache</key>
	<string>continueMissedCacheManager</string>
	<key>resumeDedicatedPositionFilter</key>
	<string>setRobustShaderCache</string>
</dict>
</plist>
