<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelMultiPopupOwner</key>
	<string>getDedicatedDescriptionBase</string>
	<key>finishDedicatedLayerImplement</key>
	<string>spinAccessibleConfigurationHelper</string>
	<key>getGreatRowHelper</key>
	<string>setRespectiveConfidentialityCache</string>
	<key>prepareSignificantSceneDelegate</key>
	<string>animateConsultativeParamCollection</string>
	<key>restartRespectiveNumberArray</key>
	<string>shearSubtleStyleReference</string>
</dict>
</plist>
