<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createTypicalRotationExtension</key>
	<string>getAdvancedAccessoryPool</string>
	<key>stopAssociatedNumberDecorator</key>
	<string>getIntermediateAudioPool</string>
	<key>transposePrevLayoutImplement</key>
	<string>getEasySkewYType</string>
</dict>
</plist>
