<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>embraceLargeAspectExtension</key>
	<string>getNextInitiatorsObserver</string>
	<key>finishBackwardIntegrationList</key>
	<string>prepareArithmeticParamAdapter</string>
	<key>initializeMediocreArithmeticCreator</key>
	<string>getKeyMovementObserver</string>
	<key>setMainValueType</key>
	<string>setPrismaticParticleArray</string>
	<key>startConsultativePopupExtension</key>
	<string>getExplicitPositionType</string>
	<key>startRapidBufferCache</key>
	<string>startRelationalDialogsType</string>
	<key>trainDelicateModelAdapter</key>
	<string>getIgnoredRectangleBase</string>
</dict>
</plist>
