<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelHyperbolicProfileInstance</key>
	<string>dissociateSynchronousSlashType</string>
	<key>finishSemanticLeftDelegate</key>
	<string>drawSortedPositionContainer</string>
	<key>getConsultativeTailInstance</key>
	<string>unlockPublicAllocatorExtension</string>
	<key>getFirstValuePool</key>
	<string>cancelConcurrentLayerManager</string>
	<key>getUniformParameterFactory</key>
	<string>detachDedicatedPreviewHandler</string>
	<key>readPrismaticParticleList</key>
	<string>quantizationIterativeRowBase</string>
	<key>restartMainParamAdapter</key>
	<string>analyzeDirectlyStrokeDelegate</string>
	<key>transposeSignificantParamContainer</key>
	<string>setSimilarEvolutionCollection</string>
</dict>
</plist>
