<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getSmartMetadataBase</key>
	<string>getAccessibleSceneManager</string>
	<key>prepareConcreteScopeHandler</key>
	<string>setRespectiveSliderList</string>
	<key>restartBasicCharacteristicBase</key>
	<string>executeCustomAxisCache</string>
	<key>setAutoTweakType</key>
	<string>adjustSustainableBaseHelper</string>
	<key>startFirstEffectAdapter</key>
	<string>getNumericalMenuType</string>
</dict>
</plist>
