<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compareSpecifyFeatureDelegate</key>
	<string>initializeEasyLossTarget</string>
	<key>continueUnsortedTempleReference</key>
	<string>pauseSmallCaptionType</string>
	<key>exitKeyPopupDelegate</key>
	<string>getSubstantialColorProtocol</string>
	<key>getConcurrentValueGroup</key>
	<string>combineCartesianCenterCollection</string>
	<key>getPermissiveValueList</key>
	<string>setCustomizedAudioTarget</string>
	<key>keepActivatedNumberGroup</key>
	<string>differentiateGreatParamHelper</string>
	<key>pushConcurrentMemberDelegate</key>
	<string>setMultiNameProtocol</string>
</dict>
</plist>
