<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>multiplyEasyMomentumProtocol</key>
	<string>respondIterativeBufferOwner</string>
	<key>restartRetainedParamCreator</key>
	<string>resumeBeginnerParameterArray</string>
	<key>setGlobalDescriptionManager</key>
	<string>prepareSymmetricZoneCollection</string>
	<key>showFusedNumberCollection</key>
	<string>detachUnsortedIndexHandler</string>
</dict>
</plist>
