<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compareGranularSpotBase</key>
	<string>getIterativeSkewXFactory</string>
	<key>holdSeamlessTagBase</key>
	<string>cleanMutableHeroExtension</string>
	<key>playDirectLeftExtension</key>
	<string>removePermanentSceneTarget</string>
	<key>resetMainOpacityExtension</key>
	<string>pauseAssociatedUtilProtocol</string>
	<key>setHyperbolicVarDecorator</key>
	<string>retainOldValueOwner</string>
	<key>stopSynchronousCosineHandler</key>
	<string>getOpaqueOriginFactory</string>
	<key>storeTensorParameterFilter</key>
	<string>resizeHardInstructionImplement</string>
</dict>
</plist>
