<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accelerateUsedAnimationInstance</key>
	<string>getEasySliderGroup</string>
	<key>appendSpecifyPositionDelegate</key>
	<string>initializeOtherIndexDelegate</string>
	<key>checkLostNumberList</key>
	<string>findDelicateParameterType</string>
	<key>finishCustomParameterDecorator</key>
	<string>associatePrismaticAnchorAdapter</string>
	<key>getLargeDescriptionObserver</key>
	<string>finishRelationalParamReference</string>
	<key>getSmallComponentHandler</key>
	<string>keepPrimaryModuleAdapter</string>
	<key>resetIndependentDisclaimerHandler</key>
	<string>setSortedStateDecorator</string>
	<key>setRelationalAxisCreator</key>
	<string>regulateDiscardedNumberExtension</string>
	<key>stopConcurrentMetadataBase</key>
	<string>quitPermanentLossDelegate</string>
</dict>
</plist>
