<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishSynchronousLayerTarget</key>
	<string>continueOriginalTempleBase</string>
	<key>getAccessibleRotationList</key>
	<string>animateCartesianMetricsStack</string>
	<key>getUnsortedOpacityFilter</key>
	<string>enhanceSingleParamInstance</string>
	<key>restoreSortedSizeGroup</key>
	<string>getSecondSizeContainer</string>
	<key>setSortedEffectProtocol</key>
	<string>skipMultiSegmentFilter</string>
	<key>startStaticObserverReference</key>
	<string>prepareReusableSizeFactory</string>
	<key>syncSortedBufferTarget</key>
	<string>resumeOpaqueTempleBase</string>
</dict>
</plist>
