<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>floatUnsortedPopupList</key>
	<string>revisitCartesianRotationType</string>
	<key>getMutableVariableHandler</key>
	<string>setAdvancedDescriptionContainer</string>
	<key>getRetainedMediaCache</key>
	<string>resumeDenseParameterStack</string>
	<key>keepAgileHashManager</key>
	<string>getPublicRangeManager</string>
	<key>restartStaticLayerStack</key>
	<string>resumeDedicatedSoundHelper</string>
	<key>startPrevParameterInstance</key>
	<string>renameCurrentBufferExtension</string>
	<key>stopMissedBufferBase</key>
	<string>getMainUtilPool</string>
	<key>transposePermissiveTaxonomyList</key>
	<string>endTensorMaterialHandler</string>
	<key>undertakeSustainableValueHandler</key>
	<string>setSynchronousCertificateFilter</string>
</dict>
</plist>
