<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueRequiredTitleReference</key>
	<string>getNumericalGrainInstance</string>
	<key>getCommonGridBase</key>
	<string>resumeSimilarEfficiencyOwner</string>
	<key>lockDiscardedVarCreator</key>
	<string>stopDeclarativeSpotReference</string>
	<key>restartAdvancedModulusTarget</key>
	<string>continueAgileIndexBase</string>
	<key>resumeResilientAllocatorPool</key>
	<string>refreshNewestVariableType</string>
	<key>setNewestShapeBase</key>
	<string>initializeSharedRectangleObserver</string>
</dict>
</plist>
