<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>calculateNumericalBulletReference</key>
	<string>restartUniformBehaviorCache</string>
	<key>cancelCurrentValueTarget</key>
	<string>getRespectiveVarCache</string>
	<key>pauseUnactivatedModuleFactory</key>
	<string>continueBackwardMasterOwner</string>
	<key>setDiscardedViewPool</key>
	<string>setPermanentGraphFactory</string>
	<key>setPivotalScaleCollection</key>
	<string>augmentDirectRangeInstance</string>
	<key>setResilientTailExtension</key>
	<string>trainEuclideanTempleObserver</string>
	<key>setUsedRightList</key>
	<string>endImmutableTempleCollection</string>
</dict>
</plist>
