<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endAccordionUtilStack</key>
	<string>setPivotalScopeCache</string>
	<key>endIndependentUtilExtension</key>
	<string>clonePublicValueCache</string>
	<key>escalateIntermediateSkewXType</key>
	<string>setDisplayableInfoList</string>
	<key>searchCustomizedAssetCreator</key>
	<string>getSpecifyRowTarget</string>
	<key>showElasticVariableManager</key>
	<string>resumeSmartUtilFilter</string>
</dict>
</plist>
