<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelStandalonePreviewObserver</key>
	<string>getNewestNumberStack</string>
	<key>captureAsynchronousFeatureTarget</key>
	<string>setMediumTempleCollection</string>
	<key>finishConcreteColorPool</key>
	<string>resumeOpaqueScaleFactory</string>
	<key>getOldSpriteArray</key>
	<string>getCriticalGridCache</string>
	<key>locateFusedParameterExtension</key>
	<string>getDirectHashManager</string>
	<key>setCustomizedTempleGroup</key>
	<string>scheduleSimilarParamBase</string>
	<key>setHierarchicalModelCollection</key>
	<string>replaceBeginnerParameterInstance</string>
	<key>setPermissiveNumberTarget</key>
	<string>keepLastResultContainer</string>
	<key>trainAsynchronousAssetImplement</key>
	<string>setDirectAnchorProtocol</string>
</dict>
</plist>
