<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keepGranularDescentExtension</key>
	<string>continueRetainedSizeCollection</string>
	<key>markUsedParameterCreator</key>
	<string>preparePublicClusterExtension</string>
	<key>quantizerMutableTempleCollection</key>
	<string>displayDisplayableImpactHandler</string>
	<key>removeIndependentTempleContainer</key>
	<string>getSubtleBufferHelper</string>
	<key>restartBeginnerObserverHelper</key>
	<string>generateDelicateSizeFactory</string>
	<key>setSynchronousSkewXObserver</key>
	<string>restartIgnoredParamExtension</string>
	<key>stopSynchronousGraphAdapter</key>
	<string>setLocalElementAdapter</string>
</dict>
</plist>
