<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getMissedImpactTarget</key>
	<string>insteadPrevConfigurationArray</string>
	<key>getOriginalGraphicFactory</key>
	<string>continueRapidOriginCreator</string>
	<key>getPivotalReductionArray</key>
	<string>skipSophisticatedVisibleList</string>
	<key>setGranularTimelineInstance</key>
	<string>calculateSignificantFlagsFactory</string>
	<key>setSimilarCapacitiesFilter</key>
	<string>removeStaticDisclaimerProtocol</string>
</dict>
</plist>
