<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capturePrimaryDepthReference</key>
	<string>finishPrismaticEffectFilter</string>
	<key>getArithmeticCharacterReference</key>
	<string>restartCurrentVisibleGroup</string>
	<key>getCurrentDescentOwner</key>
	<string>getIterativeInitiatorsTarget</string>
	<key>pauseDirectlyVariableGroup</key>
	<string>cancelEuclideanBufferTarget</string>
	<key>reconcileSeamlessVarGroup</key>
	<string>limitAccessibleSkewXOwner</string>
	<key>stopPrevMusicReference</key>
	<string>setGranularLayerType</string>
</dict>
</plist>
