<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>In app purchase</key>
	<string>ohgvjk</string>
	<key>Install</key>
	<string>7my9bg</string>
	<key>RegisterSuccess</key>
	<string>wra916</string>
	<key>clickStarProjectpop-upsFindoutmore</key>
	<string>400xry</string>
	<key>clickStarProjectpop-upsCancel</key>
	<string>2nm5iq</string>
</dict>
</plist>
