<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelPrimarySceneAdapter</key>
	<string>setSignificantCenterHelper</string>
	<key>conformBeginnerComponentContainer</key>
	<string>visitRapidContractionObserver</string>
	<key>continuePrimaryTentativeHandler</key>
	<string>setSubstantialPolyfillGroup</string>
	<key>endNextRemediationInstance</key>
	<string>generateLocalVariableObserver</string>
	<key>endSynchronousIndicatorManager</key>
	<string>setSynchronousTempleContainer</string>
	<key>quitBasicRotationManager</key>
	<string>trainHyperbolicNotationContainer</string>
	<key>setPrevNormCache</key>
	<string>getEphemeralPlateOwner</string>
</dict>
</plist>
