<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelMediocreInstructionGroup</key>
	<string>getFirstSizeGroup</string>
	<key>setDeclarativeNameReference</key>
	<string>keepLargeRemediationArray</string>
	<key>setStandaloneVarCreator</key>
	<string>cancelProtectedMomentumReference</string>
	<key>trainMediocreTopFactory</key>
	<string>captureUsedIntensityAdapter</string>
</dict>
</plist>
