<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishPivotalArithmeticExtension</key>
	<string>restartDirectFlagsContainer</string>
	<key>getDelicateDescentHelper</key>
	<string>getCrucialLayerManager</string>
	<key>getMultiScaleTarget</key>
	<string>setConcreteTempleExtension</string>
	<key>lockSingleHashList</key>
	<string>erasePrevHashHandler</string>
	<key>pauseDirectGridInstance</key>
	<string>skipCrudeHashDelegate</string>
	<key>restartCurrentScalabilityStack</key>
	<string>eraseRapidFragmentsTarget</string>
	<key>restartOpaqueCoordFilter</key>
	<string>showMediocreAnalogyAdapter</string>
	<key>stopCustomizedVariableInstance</key>
	<string>getProtectedValueFactory</string>
</dict>
</plist>
