<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelEuclideanInformationBase</key>
	<string>setAdvancedGiftFactory</string>
	<key>endSortedConsumptionList</key>
	<string>removeSmartSampleOwner</string>
	<key>getCustomizedParameterObserver</key>
	<string>trainMultiBufferCache</string>
	<key>getMainSizeInstance</key>
	<string>updateResilientHeadStack</string>
	<key>keepRelationalInterfaceExtension</key>
	<string>setExplicitPrecisionDecorator</string>
</dict>
</plist>
