<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelAgileDescriptionPool</key>
	<string>getSmallUnaryTarget</string>
	<key>continueTypicalEffectFilter</key>
	<string>getSymmetricTopicReference</string>
	<key>getAsynchronousAllocatorStack</key>
	<string>cancelCrudeNameType</string>
	<key>keepRobustTempleContainer</key>
	<string>finishKeyOriginDecorator</string>
	<key>lockExplicitVisibleOwner</key>
	<string>setUnactivatedRotationGroup</string>
	<key>pauseCustomizedProfileList</key>
	<string>stopAccessibleNumberProtocol</string>
	<key>reflectAssociatedCatalystTarget</key>
	<string>locateIntermediateHashContainer</string>
	<key>transposeDisparatePrecisionObserver</key>
	<string>encapsulateEuclideanScaleArray</string>
</dict>
</plist>
