<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resumeArithmeticOriginProtocol</key>
	<string>getSubtleImageProtocol</string>
	<key>resumeGlobalCurveCollection</key>
	<string>cancelGranularProvisionCreator</string>
	<key>resumeSingleParamBase</key>
	<string>syncMultiNumberCache</string>
	<key>setArithmeticLogarithmFactory</key>
	<string>getHardBufferCache</string>
	<key>setLostCurveObserver</key>
	<string>finishPivotalUtilArray</string>
	<key>setUnactivatedSkewXCollection</key>
	<string>transposeFirstFrameGroup</string>
	<key>trainOldSineGroup</key>
	<string>lockSubsequentReferenceHelper</string>
</dict>
</plist>
