<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelAccordionColorArray</key>
	<string>skipMainTempleBase</string>
	<key>endImmutableFlagsHandler</key>
	<string>accelerateUniqueValueType</string>
	<key>equalNormalVisibleReference</key>
	<string>getAssociatedVectorProtocol</string>
	<key>replaceRelationalVertexFilter</key>
	<string>getDirectAspectHelper</string>
	<key>setKeyLabelObserver</key>
	<string>skipSophisticatedPopupStack</string>
	<key>updateSynchronousEvaluationBase</key>
	<string>setOtherThresholdImplement</string>
</dict>
</plist>
