<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getDisplayableSkewYOwner</key>
	<string>setMutableBufferImplement</string>
	<key>getUnactivatedAnalogyProtocol</key>
	<string>endMutableTrianglesHelper</string>
	<key>readExplicitGrainContainer</key>
	<string>getConsultativeBorderDecorator</string>
	<key>restartPrismaticEqualizationOwner</key>
	<string>getOtherIndexType</string>
	<key>setElasticSliderManager</key>
	<string>continueNormalGroupAdapter</string>
	<key>setGlobalBottomType</key>
	<string>setUniformInformationGroup</string>
	<key>setNewestResilienceObserver</key>
	<string>addNormalExponentExtension</string>
	<key>setNormalParamDecorator</key>
	<string>initializeNormalVisibleArray</string>
	<key>setSeamlessPreviewList</key>
	<string>transposeCartesianSpecifierObserver</string>
</dict>
</plist>
