<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloneBeginnerVarContainer</key>
	<string>updateCrudeGroupCreator</string>
	<key>compareGreatTempleReference</key>
	<string>restartAccessibleButtonType</string>
	<key>enhanceImmutableMediaFactory</key>
	<string>startDenseMenuOwner</string>
	<key>refreshOriginalStampInstance</key>
	<string>continuePermissiveDepthHandler</string>
	<key>restartUniqueGemFilter</key>
	<string>seekSeamlessRotationReference</string>
	<key>resumeIgnoredUsageCache</key>
	<string>restartGreatGraphicBase</string>
	<key>setPivotalDetailCache</key>
	<string>executeLocalButtonContainer</string>
	<key>setPrevChapterType</key>
	<string>getPrismaticIndexOwner</string>
	<key>stopUnsortedPopupReference</key>
	<string>setCommonSpriteReference</string>
</dict>
</plist>
