<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelIndependentTextureReference</key>
	<string>prepareSubstantialNumberDecorator</string>
	<key>finishAsynchronousSpriteContainer</key>
	<string>keepHierarchicalBoundArray</string>
	<key>getSignificantGroupCollection</key>
	<string>accelerateSmartSceneBase</string>
	<key>getSimilarVariantBase</key>
	<string>restartEphemeralVariableExtension</string>
	<key>prepareDirectMeshGroup</key>
	<string>aggregatePriorAspectStack</string>
	<key>provideEuclideanTimeType</key>
	<string>calculatePrismaticSkewXCache</string>
	<key>restartSubtleTempleArray</key>
	<string>finishLiteVariableGroup</string>
	<key>setRelationalParameterDecorator</key>
	<string>pauseIterativeFragmentsFactory</string>
	<key>visitStaticGraphDelegate</key>
	<string>enumerateSemanticLoopCache</string>
</dict>
</plist>
