<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getKeyTopPool</key>
	<string>skipNextAxisContainer</string>
	<key>restartConcurrentInitiativeFilter</key>
	<string>skipSecondTempleDelegate</string>
	<key>restartSubtleVariableCreator</key>
	<string>setFirstMaterialHandler</string>
	<key>skipGlobalLabelProtocol</key>
	<string>getSemanticStrengthGroup</string>
	<key>trainSharedSkewYExtension</key>
	<string>setRelationalBufferReference</string>
</dict>
</plist>
