<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getBeginnerIndexGroup</key>
	<string>keepLostZoneInstance</string>
	<key>getRapidObserverOwner</key>
	<string>pauseIntuitiveSkirtPool</string>
	<key>setSynchronousGrainReference</key>
	<string>adjustDisparateTitleExtension</string>
</dict>
</plist>
