<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animateMainTitleFilter</key>
	<string>prepareNewestResultCache</string>
	<key>augmentLastDeliveryImplement</key>
	<string>getSubsequentCosineCache</string>
	<key>equalGranularSignatureHandler</key>
	<string>getMediumViewContainer</string>
	<key>getPrevGramType</key>
	<string>touchAgileHeadProtocol</string>
	<key>getPrevSkewXAdapter</key>
	<string>getFirstFeatureInstance</string>
	<key>releaseSophisticatedBoundHelper</key>
	<string>endPrismaticEvolutionGroup</string>
	<key>restartDirectModuleCache</key>
	<string>stopMultiVariableFactory</string>
	<key>setLiteUtilOwner</key>
	<string>getUnsortedBottomCache</string>
</dict>
</plist>
