<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueLocalQueueGroup</key>
	<string>endPrimarySignContainer</string>
	<key>fillLostMatrixManager</key>
	<string>getRelationalIntensityContainer</string>
	<key>restartIterativeHeadArray</key>
	<string>prepareTensorParamOwner</string>
	<key>trainUsedVectorCache</key>
	<string>getExplicitChapterType</string>
</dict>
</plist>
