<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipConcurrentToleranceGroup</key>
	<string>getMultiDescentExtension</string>
	<key>getIntuitiveSliderArray</key>
	<string>getSharedVarObserver</string>
	<key>pausePrevResultObserver</key>
	<string>setGranularAccessoryProtocol</string>
	<key>pauseRespectiveListenerHandler</key>
	<string>endUsedBufferReference</string>
	<key>reconcileMultiParameterDecorator</key>
	<string>calculateCrucialGroupProtocol</string>
	<key>restartGreatOpacityReference</key>
	<string>setNewestGraphArray</string>
	<key>setDisparateViewFilter</key>
	<string>getNextTrianglesDelegate</string>
	<key>setSophisticatedModelArray</key>
	<string>embedOtherToleranceCache</string>
	<key>skipPrimaryPolygonGroup</key>
	<string>visitPermissiveAnalogyFilter</string>
	<key>updateSustainableGrainInstance</key>
	<string>setHardRendererTarget</string>
</dict>
</plist>
