<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createGeometricCharacterManager</key>
	<string>endEuclideanChannelsInstance</string>
	<key>initializeCommonInitiatorsObserver</key>
	<string>getOtherInfrastructureTarget</string>
	<key>keepDelicateSessionAdapter</key>
	<string>replaceSemanticConfidentialityOwner</string>
	<key>refreshCrudeHeroDecorator</key>
	<string>getSignificantTempleHandler</string>
	<key>resumeGeometricDeliveryDecorator</key>
	<string>detachLocalMissionType</string>
	<key>setConcurrentNodeCreator</key>
	<string>startNumericalFlagsCollection</string>
	<key>writeComprehensiveAssetManager</key>
	<string>setCustomizedCaptionList</string>
</dict>
</plist>
