<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keepPriorIntegrityBase</key>
	<string>stopDiscardedHeapGroup</string>
	<key>playCustomizedTrajectoryManager</key>
	<string>pauseIntuitiveTopBase</string>
	<key>removeLocalParameterDelegate</key>
	<string>getSharedEvaluationContainer</string>
	<key>syncNumericalNumberReference</key>
	<string>transposeMainParamPool</string>
</dict>
</plist>
