<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accelerateKeyTailPool</key>
	<string>aggregateSemanticChapterInstance</string>
	<key>appendHardValueDecorator</key>
	<string>adjustRespectiveVarHandler</string>
	<key>cancelMainVarPool</key>
	<string>startLastBottomDecorator</string>
	<key>continueSmartSegmentTarget</key>
	<string>getElasticSceneFilter</string>
	<key>playIterativeCoordBase</key>
	<string>getDiscardedPopupCache</string>
	<key>setPriorTagList</key>
	<string>limitIgnoredFormatTarget</string>
	<key>setUnactivatedTopicStack</key>
	<string>setLastDataDelegate</string>
	<key>skipArithmeticPaddingTarget</key>
	<string>setSingleResolverDelegate</string>
</dict>
</plist>
