<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishDirectHeadHandler</key>
	<string>setOtherRowManager</string>
	<key>getConsultativeMendExtension</key>
	<string>initializeDifficultNotationManager</string>
	<key>setAsynchronousIntensityImplement</key>
	<string>markDisplayablePlaybackHandler</string>
	<key>setDiscardedNumberDelegate</key>
	<string>destroyEphemeralPositionDecorator</string>
	<key>setEasySkewXProtocol</key>
	<string>reduceNewestVarTarget</string>
	<key>setStandaloneDescriptionFilter</key>
	<string>combineMutableInteractionFilter</string>
	<key>transposeImmutableMomentumHandler</key>
	<string>setSubtleRemainderStack</string>
</dict>
</plist>
