<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueAutoTopExtension</key>
	<string>restoreDelicateVarAdapter</string>
	<key>findConcurrentVideoGroup</key>
	<string>showCustomizedDispatcherAdapter</string>
	<key>getEasySpineStack</key>
	<string>setSpecifyPolygonReference</string>
	<key>getStandaloneInteractionContainer</key>
	<string>endExplicitTentativeCollection</string>
	<key>prepareDirectParamCollection</key>
	<string>getUsedLeftDecorator</string>
	<key>skipCrudeCaptionHelper</key>
	<string>setLargeResultOwner</string>
	<key>startDedicatedPositionDecorator</key>
	<string>setDisparateFrameOwner</string>
</dict>
</plist>
