<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>setCartesianProvisionCollection</key>
	<string>getRelationalPopupList</string>
	<key>setDiscardedRectManager</key>
	<string>getBackwardRightManager</string>
	<key>setPivotalArithmeticImplement</key>
	<string>enumerateSemanticUnaryArray</string>
</dict>
</plist>
