<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destroyCriticalSpriteHandler</key>
	<string>endSortedPolygonList</string>
	<key>discoverSemanticVariableReference</key>
	<string>restartUnsortedParameterFilter</string>
	<key>displayIntuitiveCaptionFilter</key>
	<string>getDisplayableOperationReference</string>
	<key>holdHierarchicalPositionDelegate</key>
	<string>getGreatVariableFilter</string>
	<key>keepTypicalVideoObserver</key>
	<string>streamlineSharedInfoPool</string>
	<key>mitigateStaticBufferImplement</key>
	<string>shearActivatedLabelGroup</string>
	<key>quantizerLocalTextArray</key>
	<string>restoreRetainedTempleBase</string>
	<key>restartOpaqueCenterContainer</key>
	<string>setStaticPreviewCreator</string>
	<key>setUsedTextureHandler</key>
	<string>stopMutableVarList</string>
</dict>
</plist>
