<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelCurrentStampArray</key>
	<string>accelerateMainRightExtension</string>
	<key>cancelDelicateReferenceType</key>
	<string>getConcreteParticleCache</string>
	<key>endRelationalDetailHelper</key>
	<string>cleanFirstTopicType</string>
	<key>getMultiSlashCreator</key>
	<string>reflectNormalAudioManager</string>
	<key>getNumericalRecursionImplement</key>
	<string>stopLiteTempleList</string>
	<key>multiplySubtleAllocatorPool</key>
	<string>resizeSecondNotationCollection</string>
	<key>replaceAdvancedBufferOwner</key>
	<string>initializeDelicateNumberArray</string>
	<key>restoreMutableBinaryExtension</key>
	<string>getSeamlessAssetInstance</string>
	<key>startSignificantCapacitiesCache</key>
	<string>continueNumericalVarType</string>
</dict>
</plist>
