<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endSustainableVarProtocol</key>
	<string>getBasicScaleProtocol</string>
	<key>limitPermissiveMenuOwner</key>
	<string>skipRetainedChapterCollection</string>
	<key>restoreIntuitiveBottomType</key>
	<string>getIterativeTimeHelper</string>
	<key>setConcurrentHeadExtension</key>
	<string>keepAssociatedIntegrationHandler</string>
	<key>shearSubtleEdgeTarget</key>
	<string>pauseOtherConvolutionCache</string>
	<key>stopArithmeticReferenceCreator</key>
	<string>floatDelicateAnchorOwner</string>
</dict>
</plist>
