<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>offsetSignificantChapterPool</key>
	<string>resumeRobustParameterTarget</string>
	<key>reflectSophisticatedNormHelper</key>
	<string>rotateDirectlyParameterList</string>
	<key>retrievePublicMovementArray</key>
	<string>stopSignificantQueueAdapter</string>
</dict>
</plist>
