<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getElasticOperationOwner</key>
	<string>getDifficultMatrixArray</string>
	<key>getMutableTextExtension</key>
	<string>continueConcreteStepDecorator</string>
	<key>getOtherChecklistCache</key>
	<string>initializeOtherFormatOwner</string>
	<key>setDirectlyInfrastructureGroup</key>
	<string>resumePermissiveVarCollection</string>
	<key>skipDifficultEffectDecorator</key>
	<string>getCurrentDialogsHandler</string>
	<key>trainMainPrecisionList</key>
	<string>resumeExplicitFlagsTarget</string>
</dict>
</plist>
