<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatePivotalImpressionAdapter</key>
	<string>limitElasticVariableArray</string>
	<key>continueSharedUtilCache</key>
	<string>finishFusedPlatePool</string>
	<key>getRetainedParameterPool</key>
	<string>getSemanticScopeOwner</string>
	<key>getSignificantBufferFilter</key>
	<string>startPrevParameterReference</string>
	<key>resumeAssociatedSkewXManager</key>
	<string>storeSmallScaleType</string>
	<key>setPublicViewProtocol</key>
	<string>readUniformGraphPool</string>
</dict>
</plist>
