<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analyzeMainTextDelegate</key>
	<string>prepareDirectlyChapterType</string>
	<key>offsetCrudeDepthDecorator</key>
	<string>exitFirstColorAdapter</string>
	<key>reduceUnactivatedTailDelegate</key>
	<string>restartCustomizedParamContainer</string>
	<key>releaseArithmeticDepthExtension</key>
	<string>refreshHierarchicalChapterCreator</string>
	<key>resumeConcurrentBottomPool</key>
	<string>dissociateIterativeCardAdapter</string>
	<key>schedulePivotalQueueGroup</key>
	<string>resumeActivatedChapterCollection</string>
	<key>spinEphemeralNumberImplement</key>
	<string>respondDelicateSkewXFactory</string>
	<key>startDeclarativeVarHelper</key>
	<string>skipLastFeatureBase</string>
	<key>syncArithmeticToolFilter</key>
	<string>setSmallPolyfillCache</string>
</dict>
</plist>
