<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getRapidFrameDelegate</key>
	<string>getUniformSkewYCache</string>
	<key>navigateCrucialHeadCollection</key>
	<string>setSharedNumberCreator</string>
	<key>preparePermissiveDataInstance</key>
	<string>setDirectVariableExtension</string>
	<key>resetActivatedTextureStack</key>
	<string>getSmallVarCreator</string>
	<key>setSpecifyEvolutionHandler</key>
	<string>setPermanentEdgeProtocol</string>
	<key>stopRelationalBottomBase</key>
	<string>setAsynchronousParameterDecorator</string>
	<key>transposeSymmetricCacheList</key>
	<string>getCommonModuleHelper</string>
</dict>
</plist>
