<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishCartesianAssetInstance</key>
	<string>skipEnabledCompositionList</string>
	<key>setDifficultLogarithmAdapter</key>
	<string>markSmallVarExtension</string>
	<key>setUnsortedInformationHandler</key>
	<string>parseSymmetricMaterialCache</string>
	<key>startSignificantPointType</key>
	<string>setUniqueMendProtocol</string>
</dict>
</plist>
