<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getMutableQueueManager</key>
	<string>getSophisticatedRightContainer</string>
	<key>prepareMainFormatExtension</key>
	<string>trainUnactivatedTextureCreator</string>
	<key>quantizationSimilarConstantHandler</key>
	<string>optimizeSimilarArithmeticCollection</string>
	<key>resizePriorCursorGroup</key>
	<string>findConcurrentEquivalentAdapter</string>
	<key>resumeResilientDepthAdapter</key>
	<string>pauseDiversifiedKernelPool</string>
	<key>setLiteBufferManager</key>
	<string>continueHardGroupDecorator</string>
	<key>startAccessibleVarOwner</key>
	<string>initializeGlobalNumberPool</string>
</dict>
</plist>
