<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>findIndependentQueueOwner</key>
	<string>stopSortedObjectBase</string>
	<key>getMediumCapacitiesCollection</key>
	<string>getIntuitiveProgressBarArray</string>
	<key>setSignificantDisclaimerInstance</key>
	<string>spinMediocreSliderBase</string>
</dict>
</plist>
