<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dissociateNumericalThroughputStack</key>
	<string>requestDiscardedVarDecorator</string>
	<key>eraseRelationalElasticityList</key>
	<string>setUnsortedAccessoryCollection</string>
	<key>introspectUnactivatedFrameContainer</key>
	<string>replaceDirectNameBase</string>
</dict>
</plist>
