<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocateUniqueParamPool</key>
	<string>rectifyGranularLeftOwner</string>
	<key>computeRequiredSkewXInstance</key>
	<string>retrieveUnactivatedValueHelper</string>
	<key>createSecondLayoutFilter</key>
	<string>skipLargeParamArray</string>
	<key>getSeamlessVarDelegate</key>
	<string>cancelSubtleGraphicDecorator</string>
	<key>limitDeclarativeLeftProtocol</key>
	<string>restartPermissiveOpacityOwner</string>
	<key>prepareConcreteSceneProtocol</key>
	<string>extendCustomGateFilter</string>
	<key>startOpaqueVarFactory</key>
	<string>dissociateGeometricTempleArray</string>
	<key>wrapEasyShaderGroup</key>
	<string>cancelAccordionChapterAdapter</string>
</dict>
</plist>
