<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>computeResilientBorderArray</key>
	<string>skipIntermediateChapterStack</string>
	<key>endBackwardTagFactory</key>
	<string>augmentEnabledMaterialPool</string>
	<key>getAccessibleCenterAdapter</key>
	<string>finishSmallComponentFactory</string>
	<key>getDirectlyNumberProtocol</key>
	<string>initializeRobustOpacityCreator</string>
	<key>getMultiNameOwner</key>
	<string>getSpecifyConfigurationManager</string>
	<key>offsetReusableGraphType</key>
	<string>setSynchronousLabelOwner</string>
	<key>setCustomizedObserverReference</key>
	<string>getRobustLossDelegate</string>
	<key>setIndependentParameterDecorator</key>
	<string>getMissedTagCreator</string>
	<key>setRobustVideoImplement</key>
	<string>cancelHierarchicalObjectBase</string>
	<key>trainSynchronousResourceGroup</key>
	<string>getConcurrentLogArray</string>
</dict>
</plist>
