<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getNextSchemaReference</key>
	<string>continueUniformSkewXCollection</string>
	<key>keepDenseVisibleStack</key>
	<string>skipRobustColorGroup</string>
	<key>pauseImmutableButtonProtocol</key>
	<string>setIntuitiveTempleCreator</string>
	<key>renameProtectedGrainType</key>
	<string>endEnabledVarReference</string>
	<key>replaceHardOccasionProtocol</key>
	<string>searchBackwardZoneProtocol</string>
	<key>restartExplicitBufferHandler</key>
	<string>introspectSmartZoneInstance</string>
	<key>startReusableTempleAdapter</key>
	<string>setDisplayableParamDelegate</string>
</dict>
</plist>
