<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getHierarchicalSkewYHandler</key>
	<string>scheduleEnabledChartContainer</string>
	<key>keepAdvancedFlagsImplement</key>
	<string>trainTensorRotationArray</string>
	<key>setAutoMatrixPool</key>
	<string>endIntuitiveNameDecorator</string>
	<key>startMediocreVarHelper</key>
	<string>restartGlobalColorAdapter</string>
</dict>
</plist>
