<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueRapidDescriptionArray</key>
	<string>getNextVisibleInstance</string>
	<key>embraceSubstantialPositionHelper</key>
	<string>setIndependentRightHandler</string>
	<key>endSubstantialPopupPool</key>
	<string>setTypicalParamType</string>
</dict>
</plist>
