<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueDirectlySizeList</key>
	<string>associateNormalNameOwner</string>
	<key>getSubtleEdgeExtension</key>
	<string>getBackwardCenterArray</string>
	<key>initializeOtherTempleObserver</key>
	<string>resumeCriticalBottomObserver</string>
	<key>stopArithmeticScreenType</key>
	<string>getGranularGramProtocol</string>
</dict>
</plist>
