<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dissociateCommonRestrictionFilter</key>
	<string>convertAccordionVisibleCreator</string>
	<key>getAsynchronousPolyfillGroup</key>
	<string>resumeAsynchronousStyleAdapter</string>
	<key>getConcurrentTweakFilter</key>
	<string>drawPivotalValueReference</string>
	<key>getMultiSoundTarget</key>
	<string>finishLargeBatchDelegate</string>
	<key>getNumericalStyleAdapter</key>
	<string>resumeIterativeItemGroup</string>
	<key>getSortedPositionType</key>
	<string>getCriticalValueProtocol</string>
	<key>navigateDirectCharacteristicTarget</key>
	<string>finishPrimaryParamOwner</string>
	<key>setBackwardRecursionInstance</key>
	<string>drawLargeConfidentialityStack</string>
	<key>setDifficultLeftHandler</key>
	<string>setRapidVarGroup</string>
</dict>
</plist>
