<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishIntermediateTagObserver</key>
	<string>prepareImmutableOpacityFilter</string>
	<key>getAgileAssetHandler</key>
	<string>cancelLargeEdgeCache</string>
	<key>getArithmeticSkewYManager</key>
	<string>getFirstMusicCache</string>
	<key>pausePivotalInfoPool</key>
	<string>convertHyperbolicParameterGroup</string>
	<key>setCustomizedConvolutionManager</key>
	<string>pauseSignificantParamFactory</string>
	<key>setSustainableTopType</key>
	<string>playEphemeralGridTarget</string>
</dict>
</plist>
