<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keepSortedDistinctionProtocol</key>
	<string>getEuclideanOptionBase</string>
	<key>prepareEnabledStyleFilter</key>
	<string>setSemanticLeftDecorator</string>
	<key>setOriginalDepthImplement</key>
	<string>getRetainedVectorAdapter</string>
	<key>stopBackwardNumberTarget</key>
	<string>stopCurrentInterpolationPool</string>
</dict>
</plist>
