<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>seekLargeNumberList</key>
	<string>trainFirstVariableContainer</string>
	<key>setDirectlyTempleCollection</key>
	<string>wrapCriticalInterfaceHelper</string>
	<key>trainRelationalRightPool</key>
	<string>continuePrimaryColorProtocol</string>
</dict>
</plist>
