<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pauseSmartInterfaceGroup</key>
	<string>setBasicVariableCache</string>
	<key>setRespectiveTrajectoryList</key>
	<string>getMissedFlagsObserver</string>
	<key>setReusableMissionPool</key>
	<string>setAgileButtonCache</string>
	<key>streamlinePermissiveNumberFilter</key>
	<string>stopIndependentPetImplement</string>
	<key>trainLargeVarList</key>
	<string>regulateStandaloneDepthHandler</string>
</dict>
</plist>
