<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fillLastTextureHandler</key>
	<string>stopConcurrentNumberStack</string>
	<key>getGreatBoxCache</key>
	<string>regulateRelationalBatchOwner</string>
	<key>getNewestCatalystImplement</key>
	<string>setDirectResourceBase</string>
	<key>setDeclarativeMatrixObserver</key>
	<string>dismissSignificantRightObserver</string>
	<key>skipPrevInitiativeImplement</key>
	<string>finishOriginalBufferArray</string>
</dict>
</plist>
