<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endLargeNumberTarget</key>
	<string>equalSemanticBufferInstance</string>
	<key>getLargeIntegrationDelegate</key>
	<string>endDisparateColorCreator</string>
	<key>holdCrucialSkinExtension</key>
	<string>exitProtectedBufferObserver</string>
	<key>insteadDedicatedIntegrityFilter</key>
	<string>skipDiscardedLayerCollection</string>
	<key>keepActivatedArchitectureProtocol</key>
	<string>getEphemeralRowAdapter</string>
	<key>storeComprehensiveVarManager</key>
	<string>startDirectlyParamAdapter</string>
</dict>
</plist>
