<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>findAdvancedLeftManager</key>
	<string>renamePrismaticNodeList</string>
	<key>pauseDirectlyTailCollection</key>
	<string>provideSynchronousEntropyCollection</string>
	<key>quantizationPermissiveUsageHelper</key>
	<string>setSemanticInitiatorsObserver</string>
	<key>setLiteRoleReference</key>
	<string>keepMultiStepImplement</string>
	<key>setUniformPriorityManager</key>
	<string>setLocalCenterGroup</string>
</dict>
</plist>
