<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dissociateConcurrentTempleHelper</key>
	<string>getNormalMeshBase</string>
	<key>equalDenseBufferArray</key>
	<string>setPrevTextContainer</string>
	<key>getDelicateSlashHelper</key>
	<string>getLastVariableManager</string>
	<key>getHierarchicalNavigationFactory</key>
	<string>reconcileLocalRotationCreator</string>
	<key>keepIntuitivePositionInstance</key>
	<string>lockOtherTrajectoryGroup</string>
	<key>movePivotalResolverArray</key>
	<string>skipPermanentMasterList</string>
	<key>setExplicitRecursionImplement</key>
	<string>restartEnabledNumberReference</string>
	<key>setRapidPolygonPool</key>
	<string>getMainSkewYImplement</string>
	<key>trainDisparateNumberImplement</key>
	<string>resumeIndependentDepthType</string>
</dict>
</plist>
