<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelDenseWorkflowCollection</key>
	<string>trainRapidValueType</string>
	<key>cancelNormalVariableStack</key>
	<string>stopSmartColorFilter</string>
	<key>enhanceHardBufferType</key>
	<string>displayNewestPositionFilter</string>
	<key>finishNormalScreenOwner</key>
	<string>getMediocreBufferContainer</string>
	<key>pauseDirectlyFrameInstance</key>
	<string>provideAdvancedVarDecorator</string>
	<key>prepareSingleHeadTarget</key>
	<string>fillOtherScalabilityList</string>
	<key>regulateDeclarativeAspectGroup</key>
	<string>executeSubtleScaleFilter</string>
</dict>
</plist>
