<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addStandaloneThroughputHandler</key>
	<string>embedAsynchronousRectangleAdapter</string>
	<key>compareStandaloneVariableExtension</key>
	<string>setActivatedLayerType</string>
	<key>getUsedParamImplement</key>
	<string>cancelCustomizedParamFilter</string>
	<key>prepareAdvancedEffectHelper</key>
	<string>setPublicInformationOwner</string>
	<key>setDirectColorTarget</key>
	<string>decoupleNextTopicOwner</string>
	<key>trainEnabledSkinGroup</key>
	<string>finishMutableOpacityBase</string>
</dict>
</plist>
