<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dissociateGeometricActivityCreator</key>
	<string>pauseUniformTempleObserver</string>
	<key>getDisparateRectCreator</key>
	<string>finishAccessibleCertificateInstance</string>
	<key>getUnsortedTangentGroup</key>
	<string>quantizationIntuitiveFragmentTarget</string>
	<key>markDedicatedInterfaceFactory</key>
	<string>holdSignificantBatchType</string>
	<key>respondPermanentReductionContainer</key>
	<string>pushRequiredRecursionType</string>
	<key>revisitAsynchronousFlagsCollection</key>
	<string>spinMediocreBufferList</string>
	<key>setGeometricBatchStack</key>
	<string>unscheduleBeginnerRightStack</string>
	<key>setStaticBatchBase</key>
	<string>getCommonUtilFactory</string>
	<key>touchOldAllocatorCache</key>
	<string>createBasicProfileArray</string>
</dict>
</plist>
