<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishConcurrentTagExtension</key>
	<string>getDedicatedPositionDelegate</string>
	<key>generateEasyDocumentGroup</key>
	<string>getKeyBoundBase</string>
	<key>poolUnactivatedLoopInstance</key>
	<string>keepSmartRotationDelegate</string>
	<key>prepareSortedAmortizationOwner</key>
	<string>getDenseFragmentCreator</string>
	<key>restartLargeAnimationArray</key>
	<string>skipNextGridOwner</string>
	<key>setStandaloneRecursionCache</key>
	<string>prepareGranularTagArray</string>
	<key>skipCartesianTempleDelegate</key>
	<string>finishHardIndexObserver</string>
	<key>startReusableDepthTarget</key>
	<string>getPriorRotationArray</string>
	<key>trainNewestEventExtension</key>
	<string>fillUnactivatedAnchorInstance</string>
	<key>unlockCustomVariableHandler</key>
	<string>setNewestParameterManager</string>
</dict>
</plist>
