<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelGlobalImageType</key>
	<string>limitSymmetricPlateManager</string>
	<key>getMediumValueList</key>
	<string>startBasicBorderFilter</string>
	<key>getMissedIntegrationContainer</key>
	<string>setAutoOriginStack</string>
	<key>pauseHardAnimationTarget</key>
	<string>exitSubtleGridList</string>
	<key>resizeGreatNumberObserver</key>
	<string>prepareMultiArchitectureReference</string>
	<key>setOpaqueVisibleCreator</key>
	<string>setUniformHeadPool</string>
	<key>startSophisticatedDispatcherPool</key>
	<string>captureFusedShapeDelegate</string>
	<key>updateMultiMetadataManager</key>
	<string>discoverGlobalConsumptionDelegate</string>
</dict>
</plist>
