<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clearOpaqueValueDecorator</key>
	<string>aggregatePrimaryWorkflowStack</string>
	<key>decoupleUniqueConfigurationHelper</key>
	<string>setEasyGridProtocol</string>
	<key>keepPublicModulusProtocol</key>
	<string>rectifyOriginalNodeHandler</string>
	<key>prepareProtectedPreviewManager</key>
	<string>continueLargeReferenceList</string>
	<key>resumeNewestSkewXManager</key>
	<string>initializeIntuitiveHeadHandler</string>
	<key>resumeSimilarTailStack</key>
	<string>dissociateSynchronousTopObserver</string>
	<key>startActivatedButtonHelper</key>
	<string>quantizerSortedButtonDecorator</string>
	<key>stopCustomizedObjectPool</key>
	<string>keepMediocreBufferPool</string>
</dict>
</plist>
