<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destroyCommonConsumptionStack</key>
	<string>continuePivotalCenterManager</string>
	<key>limitNextTweakCollection</key>
	<string>continueNextNumberContainer</string>
	<key>navigateSubstantialTitleTarget</key>
	<string>respondSmartParamBase</string>
	<key>quantizationSemanticModulusOwner</key>
	<string>keepGranularSymbolCache</string>
	<key>restartMediumTempleFactory</key>
	<string>getDedicatedFrameTarget</string>
	<key>setAccessibleProgressBarPool</key>
	<string>resetCustomAudioOwner</string>
	<key>setGlobalVarContainer</key>
	<string>pauseAgileToolHelper</string>
	<key>skipUnsortedBufferCollection</key>
	<string>setConsultativeProjectHandler</string>
	<key>startRetainedTextType</key>
	<string>restartMissedBottomProtocol</string>
</dict>
</plist>
