<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conformNewestSizeHelper</key>
	<string>getAccordionLeftDelegate</string>
	<key>getConcurrentBandwidthDelegate</key>
	<string>convertPermissiveBitrateHelper</string>
	<key>pauseDeclarativePreviewHelper</key>
	<string>endSymmetricScaleGroup</string>
	<key>prepareComprehensiveParamList</key>
	<string>searchSemanticScaleFactory</string>
	<key>quitIgnoredItemHandler</key>
	<string>equalCustomizedIntensityCache</string>
	<key>restartMutableParameterAdapter</key>
	<string>respondCrudeSliderPool</string>
	<key>restoreTensorBufferProtocol</key>
	<string>enumerateAgileParameterHandler</string>
	<key>resumeSeamlessEdgeAdapter</key>
	<string>getDeclarativeGridStack</string>
	<key>setHierarchicalGridArray</key>
	<string>setEphemeralSkewYList</string>
	<key>skipSecondTempleManager</key>
	<string>getRequiredTextTarget</string>
</dict>
</plist>
