<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getUniqueBufferProtocol</key>
	<string>skipEphemeralTentativeTarget</string>
	<key>markCriticalGroupHelper</key>
	<string>getUnsortedChapterCache</string>
	<key>setSubstantialTailInstance</key>
	<string>endGlobalTempleAdapter</string>
	<key>streamlineSubsequentMobileHandler</key>
	<string>endGeometricRendererCreator</string>
</dict>
</plist>
