<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>optimizeTypicalTempleCollection</key>
	<string>setCurrentQueueCache</string>
	<key>restartDedicatedPolyfillGroup</key>
	<string>keepRobustFragmentsHelper</string>
	<key>setNormalVarStack</key>
	<string>setHyperbolicTempleArray</string>
	<key>stopUniformStrokeGroup</key>
	<string>setEasyScaleAdapter</string>
</dict>
</plist>
