<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compareMainBufferProtocol</key>
	<string>renameBeginnerOptimizerDelegate</string>
	<key>replaceNumericalLoopHelper</key>
	<string>endMutableMechanismTarget</string>
	<key>startRobustFeatureManager</key>
	<string>unscheduleSingleScaleObserver</string>
</dict>
</plist>
