<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelLocalDescriptionCollection</key>
	<string>keepCurrentAllocatorInstance</string>
	<key>endCommonImageAdapter</key>
	<string>getSubstantialBufferReference</string>
	<key>freeDisplayableOriginHandler</key>
	<string>initializeTypicalVisibleReference</string>
	<key>restartEphemeralProgressBarArray</key>
	<string>trainUnactivatedParameterAdapter</string>
	<key>stopEuclideanViewCollection</key>
	<string>setSharedSkewYFactory</string>
</dict>
</plist>
