<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getEasyTempleStack</key>
	<string>retainOriginalBandwidthGroup</string>
	<key>getMediumBufferCreator</key>
	<string>getUnsortedDurationManager</string>
	<key>moveGreatIndexFilter</key>
	<string>dropoutUniformStyleObserver</string>
	<key>setFirstButtonCache</key>
	<string>playLastResultHandler</string>
	<key>skipSustainableSizeFactory</key>
	<string>getTensorResolverObserver</string>
	<key>startUniqueVarFactory</key>
	<string>rotateDensePositionManager</string>
	<key>stopPermanentBufferCreator</key>
	<string>storeNewestSliderContainer</string>
	<key>trainGeometricEfficiencyList</key>
	<string>pauseArithmeticRemediationOwner</string>
	<key>undertakeOpaqueNumberProtocol</key>
	<string>prepareOriginalOptionCreator</string>
</dict>
</plist>
