<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueSymmetricParamBase</key>
	<string>keepAccordionBufferContainer</string>
	<key>dropoutCriticalTagCreator</key>
	<string>getSortedSkirtHelper</string>
	<key>getDeclarativeTemplePool</key>
	<string>getDelicateSkewXType</string>
	<key>getRobustConfigurationGroup</key>
	<string>setConcreteItemReference</string>
	<key>navigateStaticSlashFactory</key>
	<string>getMediumObserverObserver</string>
	<key>restartActivatedOperationHandler</key>
	<string>prepareCurrentValueTarget</string>
	<key>transposeSimilarPopupHandler</key>
	<string>getReusableGroupManager</string>
	<key>visitHardSkewYBase</key>
	<string>setSubtlePriorityBase</string>
</dict>
</plist>
