<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueSortedEntropyExtension</key>
	<string>getSemanticCurveManager</string>
	<key>exitLocalIntegerStack</key>
	<string>limitGeometricBufferArray</string>
	<key>fillLastVarHandler</key>
	<string>setReusableIndicatorDecorator</string>
	<key>getAssociatedConfigurationBase</key>
	<string>setSortedParameterCreator</string>
	<key>getAutoOpacityManager</key>
	<string>setGreatTitleInstance</string>
	<key>pauseImmutableRightDecorator</key>
	<string>getCurrentParameterPool</string>
	<key>quitLiteSkewYAdapter</key>
	<string>captureSortedBitrateType</string>
	<key>setPrimaryVariableHandler</key>
	<string>endCrudeSpineCreator</string>
	<key>setStandaloneDeliveryHelper</key>
	<string>reflectCommonCapsuleImplement</string>
	<key>syncLostMechanismDelegate</key>
	<string>streamlineLastParameterDelegate</string>
</dict>
</plist>
