<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>extendLargeProjectHandler</key>
	<string>getAccessibleTempleManager</string>
	<key>getIntermediateRectangleType</key>
	<string>skipOpaqueTempleExtension</string>
	<key>getLostReferenceCollection</key>
	<string>stopMainResilienceGroup</string>
	<key>introspectFusedMaterialDecorator</key>
	<string>getEnabledVideoImplement</string>
	<key>setSeamlessVarExtension</key>
	<string>keepBackwardNavigationObserver</string>
</dict>
</plist>
