<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accelerateSubtleChartCache</key>
	<string>getMultiConfigurationCollection</string>
	<key>dissociateConcreteValueGroup</key>
	<string>getDelicateLoopContainer</string>
	<key>finishPivotalTraversalBase</key>
	<string>continueSmallSignatureType</string>
	<key>getSmallMeshGroup</key>
	<string>convertGranularVariantType</string>
	<key>multiplyMultiParamDecorator</key>
	<string>initializeEuclideanNodeInstance</string>
	<key>resumeDedicatedChallengeObserver</key>
	<string>setCartesianTopicObserver</string>
	<key>spinSecondTopGroup</key>
	<string>setBackwardPetFilter</string>
</dict>
</plist>
