<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueFusedAmortizationType</key>
	<string>getPivotalIntensityAdapter</string>
	<key>continueOtherBottomFilter</key>
	<string>compareDirectNameProtocol</string>
	<key>differentiateLiteSkinList</key>
	<string>getAccessibleTextureCollection</string>
	<key>obtainSubtleSoundCreator</key>
	<string>offsetCustomRectangleCreator</string>
	<key>pauseDedicatedBottomReference</key>
	<string>dissociateKeyParameterFactory</string>
	<key>pausePublicParameterFilter</key>
	<string>equalSimilarPlaybackType</string>
	<key>setCommonCaptionContainer</key>
	<string>embedIndependentCapacityTarget</string>
	<key>setPublicTangentManager</key>
	<string>captureConsultativeDepthDelegate</string>
	<key>startPrimarySizeDelegate</key>
	<string>getSpecifyTexturePool</string>
</dict>
</plist>
