<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pauseExplicitBufferOwner</key>
	<string>pauseMainColorList</string>
	<key>respondUniqueSpotBase</key>
	<string>endResilientNodeObserver</string>
	<key>resumeAssociatedFormatProtocol</key>
	<string>getSmallMatrixStack</string>
	<key>setEasyScaleBase</key>
	<string>setRapidBufferTarget</string>
	<key>updateUniqueProjectManager</key>
	<string>getSignificantParamFilter</string>
</dict>
</plist>
