<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelGeometricChartCache</key>
	<string>freeAccordionFlagsList</string>
	<key>holdDirectBoundContainer</key>
	<string>setTypicalValueBase</string>
	<key>keepRobustParameterDecorator</key>
	<string>dismissLostSliderHelper</string>
	<key>releaseCriticalSpotContainer</key>
	<string>skipCommonVariableHandler</string>
	<key>rotateConsultativeGridOwner</key>
	<string>skipLargeCardHandler</string>
	<key>setMainNavigationFilter</key>
	<string>reflectDisplayableBaseDecorator</string>
	<key>skipSymmetricScaleExtension</key>
	<string>respondOpaqueOriginExtension</string>
	<key>startDelicateTernaryFactory</key>
	<string>clipOtherNumberStack</string>
	<key>stopConcurrentHeapOwner</key>
	<string>initializeDenseBufferContainer</string>
</dict>
</plist>
