<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelCrudeSpriteManager</key>
	<string>storeImmutableAudioInstance</string>
	<key>equalNormalAspectObserver</key>
	<string>getAsynchronousModuleFilter</string>
	<key>finishIterativeSubpixelManager</key>
	<string>checkDedicatedNodeExtension</string>
	<key>generateAsynchronousLoopList</key>
	<string>trainArithmeticTextureReference</string>
	<key>navigateEnabledTempleDelegate</key>
	<string>getDelicateWorkflowCache</string>
	<key>retainNumericalTextureFilter</key>
	<string>stopSeamlessModuleList</string>
	<key>setCommonAspectManager</key>
	<string>setRobustResolverArray</string>
	<key>setDedicatedValueArray</key>
	<string>getAccessibleDisclaimerDecorator</string>
	<key>startNewestLogHelper</key>
	<string>touchAutoParameterHandler</string>
</dict>
</plist>
