<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getDelicateChapterManager</key>
	<string>getGranularSceneOwner</string>
	<key>getNextConsumptionInstance</key>
	<string>encapsulateHardBufferManager</string>
	<key>holdBeginnerSchemaTarget</key>
	<string>limitFirstColorManager</string>
	<key>initializeDifficultVarFactory</key>
	<string>prepareRobustSpriteCollection</string>
	<key>pauseDirectlyResourceAdapter</key>
	<string>skipLocalPreviewDelegate</string>
	<key>setCommonNumberOwner</key>
	<string>streamlineArithmeticCenterCache</string>
</dict>
</plist>
