<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addPublicSizeCreator</key>
	<string>continueTensorFrameType</string>
	<key>multiplySustainableNodeFilter</key>
	<string>continueSignificantIndexCreator</string>
	<key>prepareAsynchronousEquivalentType</key>
	<string>captureDelicateTextureList</string>
	<key>rotateNextBottomCache</key>
	<string>setMutableStrokeProtocol</string>
</dict>
</plist>
