<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishAutoVariableFilter</key>
	<string>setNewestSkewYArray</string>
	<key>reflectStaticVariableTarget</key>
	<string>cancelSmallCardHelper</string>
	<key>resizeSharedHashFilter</key>
	<string>endSemanticBorderPool</string>
	<key>setSignificantSkewXObserver</key>
	<string>resumeCrudeIntensityList</string>
	<key>startSortedParameterCollection</key>
	<string>setAssociatedCertificateObserver</string>
	<key>trainRapidObjectFilter</key>
	<string>syncSpecifyVisibleFactory</string>
	<key>writeSynchronousPreviewCache</key>
	<string>concatenateCustomizedBottomTarget</string>
</dict>
</plist>
