<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelDirectlyNumberGroup</key>
	<string>getIgnoredGrayscaleBase</string>
	<key>getHierarchicalValueGroup</key>
	<string>setUnsortedDescriptionInstance</string>
	<key>limitDenseRestrictionBase</key>
	<string>poolAdvancedListenerInstance</string>
	<key>pauseGeometricFrameCache</key>
	<string>cancelDiscardedTempleHelper</string>
	<key>reflectTensorTailImplement</key>
	<string>resumeSimilarDescriptorFactory</string>
	<key>restartUniqueIntensityList</key>
	<string>getImmutableNumberProtocol</string>
	<key>setAssociatedIntensityImplement</key>
	<string>freeGreatSizeDecorator</string>
</dict>
</plist>
