<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compareConsultativeSessionExtension</key>
	<string>restartEasyPopupTarget</string>
	<key>conformOpaqueAspectInstance</key>
	<string>holdMutableQueueExtension</string>
	<key>discoverGranularAmortizationPool</key>
	<string>revisitIgnoredOpacityProtocol</string>
	<key>equalAccordionTopGroup</key>
	<string>setSubtleNumberDelegate</string>
	<key>initializeGreatUnaryBase</key>
	<string>markSophisticatedOriginFactory</string>
	<key>multiplyOldPopupPool</key>
	<string>quitIgnoredParamBase</string>
	<key>playPrimaryDistinctionInstance</key>
	<string>poolHardRightBase</string>
	<key>setCurrentAnalogyList</key>
	<string>endSemanticVariableGroup</string>
	<key>stopActivatedDeliveryDecorator</key>
	<string>setSubtleEdgeProtocol</string>
</dict>
</plist>
