<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addStandalonePopupPool</key>
	<string>getElasticVarExtension</string>
	<key>clearOldParamTarget</key>
	<string>prepareTypicalProjectProtocol</string>
	<key>getUsedSliderProtocol</key>
	<string>augmentComprehensiveMaterialGroup</string>
	<key>pauseRequiredVarType</key>
	<string>freeGeometricClusterFactory</string>
	<key>skipMultiValueExtension</key>
	<string>setPublicBufferExtension</string>
	<key>stopEnabledSignReference</key>
	<string>readSubsequentRouteCollection</string>
</dict>
</plist>
