<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convertGlobalMultiplicationStack</key>
	<string>setBeginnerSkewYList</string>
	<key>destroyPrimarySignExtension</key>
	<string>dismissRobustRemainderTarget</string>
	<key>getGranularMeshType</key>
	<string>getIndependentOpacityReference</string>
	<key>setComprehensiveNumberHandler</key>
	<string>setIndependentOriginObserver</string>
	<key>setMutableSpriteCache</key>
	<string>stopUniformVarInstance</string>
	<key>trainPrismaticTextureBase</key>
	<string>stopSmartVolumeAdapter</string>
	<key>trainSpecifyBoundFactory</key>
	<string>setGreatRestrictionContainer</string>
</dict>
</plist>
