<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getSpecifyAspectGroup</key>
	<string>startDeclarativeVariableArray</string>
	<key>reduceNewestQueueAdapter</key>
	<string>getAutoObserverCollection</string>
	<key>setIndependentEvolutionCache</key>
	<string>equalSignificantStrokeProtocol</string>
	<key>setSimilarConsumptionFactory</key>
	<string>initializeAccordionMetadataProtocol</string>
	<key>stopPivotalBufferDecorator</key>
	<string>quantizerDedicatedSpineInstance</string>
</dict>
</plist>
