<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detachSpecifyViewOwner</key>
	<string>endCartesianOriginArray</string>
	<key>dropoutEnabledMaterialHelper</key>
	<string>setEnabledRightArray</string>
	<key>endPublicParamReference</key>
	<string>skipSharedSkewXExtension</string>
	<key>finishCustomizedNumberDecorator</key>
	<string>getConsultativeParamDecorator</string>
	<key>getNormalLayoutImplement</key>
	<string>stopAccessibleRowExtension</string>
	<key>initializeCartesianVolumeOwner</key>
	<string>skipSmartVarPool</string>
	<key>keepDiscardedCoordAdapter</key>
	<string>getPrevNumberTarget</string>
	<key>parseIntermediateParamHandler</key>
	<string>keepRapidChapterReference</string>
	<key>restartRetainedPolyfillOwner</key>
	<string>spinCrudeLeftDecorator</string>
	<key>transposeRapidMovementImplement</key>
	<string>getStaticCurveProtocol</string>
</dict>
</plist>
