<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>escalateLiteChannelsFactory</key>
	<string>getDiversifiedOriginStack</string>
	<key>getIgnoredVisibleObserver</key>
	<string>getConcurrentTitleObserver</string>
	<key>getMediumChannelsCreator</key>
	<string>addPermanentAudioCreator</string>
	<key>getSymmetricOpacityStack</key>
	<string>cancelStandaloneVariableHandler</string>
	<key>keepSymmetricComponentInstance</key>
	<string>rotateGeometricPositionStack</string>
	<key>searchConcurrentRestrictionArray</key>
	<string>prepareSimilarVarPool</string>
	<key>startIgnoredRectangleObserver</key>
	<string>setNewestNumberOwner</string>
	<key>startRespectiveRectangleAdapter</key>
	<string>setSmallTagProtocol</string>
</dict>
</plist>
