<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>freeComprehensiveHashOwner</key>
	<string>cancelRelationalMeshPool</string>
	<key>getAsynchronousHeapType</key>
	<string>setLocalRowStack</string>
	<key>getPrimaryColorArray</key>
	<string>endMainAscentOwner</string>
	<key>getSharedRotationArray</key>
	<string>resumeMediocreSubpixelStack</string>
	<key>getSimilarPrecisionCache</key>
	<string>clipCurrentCosineFilter</string>
	<key>locateCrucialBufferStack</key>
	<string>keepIterativeStateHandler</string>
</dict>
</plist>
