<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>findBasicCubePool</key>
	<string>setFusedTextureTarget</string>
	<key>getDisplayableBatchExtension</key>
	<string>dropoutSustainableMendFactory</string>
	<key>getRapidOriginExtension</key>
	<string>quantizerAdvancedChapterHelper</string>
	<key>respondOriginalVariableAdapter</key>
	<string>obtainArithmeticColorArray</string>
	<key>setAccessibleVarProtocol</key>
	<string>setPriorScaleTarget</string>
	<key>setSubtleDepthReference</key>
	<string>playDirectlyLeftFactory</string>
	<key>startCriticalBufferFilter</key>
	<string>finishPrimaryCoordArray</string>
	<key>stopPrimaryProjectReference</key>
	<string>setRespectiveVertexCache</string>
</dict>
</plist>
