<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captureAdvancedBufferContainer</key>
	<string>equalNextVarTarget</string>
	<key>getPivotalUnaryType</key>
	<string>setCurrentScreenType</string>
	<key>keepReusableBufferAdapter</key>
	<string>setSharedSineHelper</string>
	<key>resizePriorBorderCache</key>
	<string>extendConcreteLogGroup</string>
	<key>setMediumIndexCache</key>
	<string>limitPivotalBufferHandler</string>
	<key>setNormalSkinExtension</key>
	<string>cancelIterativeParameterCollection</string>
	<key>setProtectedTopicPool</key>
	<string>resizeUniformMetadataStack</string>
	<key>stopNumericalVariableHandler</key>
	<string>rotateAgileTagFilter</string>
</dict>
</plist>
