<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelSpecifyVariableInstance</key>
	<string>setSignificantFormatManager</string>
	<key>clonePivotalBufferAdapter</key>
	<string>touchImmutableTempleObserver</string>
	<key>keepRapidCertificateTarget</key>
	<string>initializeSmallValueBase</string>
	<key>prepareIgnoredMetricsTarget</key>
	<string>navigatePivotalVarDelegate</string>
	<key>quitSynchronousProgressBarHandler</key>
	<string>stopEasyDisclaimerDelegate</string>
	<key>setAccessibleExponentStack</key>
	<string>setReusableVariableList</string>
	<key>setEuclideanGroupDecorator</key>
	<string>skipAssociatedCycleManager</string>
	<key>trainHyperbolicTopProtocol</key>
	<string>setLastSymbolOwner</string>
</dict>
</plist>
