<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelPrevLeftGroup</key>
	<string>trainArithmeticVisibleObserver</string>
	<key>fillNumericalTagDelegate</key>
	<string>getCrucialVarContainer</string>
	<key>getAsynchronousTagCache</key>
	<string>restartPublicElementAdapter</string>
	<key>playSpecifyTempleAdapter</key>
	<string>generateDiversifiedGrainType</string>
	<key>restartIntuitiveMetadataAdapter</key>
	<string>escalatePrimarySineCollection</string>
</dict>
</plist>
